@use "../variables" as *;
@use "../mixins";

.layout-home {
    .content {
        max-width: $webpage-max-allowed-width;
        padding-left: 50px;
        padding-right: 50px;
        margin: 0 auto;
    }
}

.hero-container {
    height: 500px;
    background-color: #c9eee5;
    padding: 5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 1.008px 2px 0px;

    .hero-text {
        text-align: left;
        width: 60%;

        &-title {
            line-height: 1.25;
            font-size: 4rem;
            font-weight: $fw-semibold;
        }

        &-subtitle {
            margin-top: 2.5rem;
            font-size: 1.45rem;
            font-weight: $fw-normal;
            color: #00243a;
        }
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
    justify-content: center;
    row-gap: 1.75rem;
    column-gap: 2rem;
    margin: 6rem 0;

    @include mixins.media-breakpoint-down(xl) {
        grid-template-columns: repeat(3, auto);
    }

    @include mixins.media-breakpoint-down(lg) {
        grid-template-columns: repeat(2, auto);
    }

    @include mixins.media-breakpoint-down(sm) {
        grid-template-columns: auto;
    }
}

.card {
    min-width: 225px;
    width: 250px;
    border-radius: $rounded-1;
    padding: 13px 15px 10px 15px;
    text-align: center;
    box-shadow: $shadow-1;
    border-left: 5px solid #00588a;

    &:hover {
        background-color: $hov-light-blue;
        border-left: 5px solid #55befb;
    }

    &:active {
        background-color: $active-light-blue;
    }
}