{% extends "shared/layout-left-nav.html" %}

{% block title %}Monitoring{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>
        Monitor the Internship Program
    </h2>
    <p>
        You can view the progress of the students and manage the requirements they must complete in here.
    </p>
</div>

<section class="list">
    <a class="list-item" href="">
        <div class="list-item-title">
            Partners
        </div>
        <button class="btn btn-primary" type="button">View</button>
    </a>
    <a class="list-item" href="">
        <div class="list-item-title">
            Students
        </div>
        <button class="btn btn-primary" type="button">View</button>
    </a>
</section>

{% endblock %}