{% extends "shared/layout-left-nav.html" %}

{% block title %}Monitoring{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>
        Monitor the Internship Program
    </h2>
    <p>
        You can view the progress of the students and manage the requirements they must complete in here.
    </p>
</div>

<section>
    <table class="table table-hover">
        <tbody class="table-rows-clickable">
            <tr data-href="/internship-program/monitoring/hello">
                <td>Partners</td>
            </tr>
            <tr data-href="/internship-program/monitoring/students">
                <td>Students</td>
            </tr>
        </tbody>
    </table>
</section>
<section>
    <div class="mb-20">
        <h5>
            Requirements
        </h5>
        <p>
            You can manage the responses to each requirement in here.
        </p>
    </div>

    {% if requirements is empty %}
    <p>No requirements have found.</p>
    {% else %}

    <table class="table table-hover">
        <colgroup>
            <col class="w-3-5">
            <col class="w-1-5">
            <col class="w-1-5">
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Start Date</th>
            </tr>
        </thead>
        <tbody class="table-rows-clickable">
            {% for item in requirements %}
            <tr data-href="/internship-program/requirements/{{ item.id }}">
                <td>{{ item.name }}</td>
                <td class="capitalize">
                    {% if item.type == "recurring" %}
                    {{ item.type }} ({{ item.repeatInterval }})
                    {% else %}
                    {{ item.type }}
                    {% endif %}
                </td>
                <td>{{ item.startDate.format("Y-m-d") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</section>

{% endblock %}