{% extends "shared/layout-left-nav.html" %}

{% block title %}Monitoring{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>
        Monitor the Internship Program
    </h2>
    <p>
        You can view the progress of the students and manage the requirements they must complete in here.
    </p>
</div>

<section class="list">
    <a class="list-item" href="">
        <div class="list-item-title">
            Partners
        </div>
        <button class="btn btn-primary" type="button">View</button>
    </a>
    <a class="list-item" href="">
        <div class="list-item-title">
            Students
        </div>
        <button class="btn btn-primary" type="button">View</button>
    </a>
</section>

<section>
    <div class="title">
        <h4>Requirements for the Internship Program</h4>
        <p>Manage requirements that the students must complete in order to finish the internship program.</p>
    </div>

    <div class="actions mb-20">
        <a class="btn btn-primary" role="button" href="requirement/add">Add Requirement</a>
    </div>

    {% if requirements is empty %}
    <p>No requirements have found.</p>
    {% else %}

    <table class="table table-hover">
        <colgroup>
            <col class="w-1-5">
            <col class="w-2-5">
            <col class="w-1-5">
            <col class="w-1-5">
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Start Date</th>
            </tr>
        </thead>
        <tbody class="table-rows-clickable">
            {% for item in requirements %}
            <tr data-href="requirement/{{ item.id }}">
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td class="capitalize">{{ item.type }}</td>
                <td>{{ item.startDate.format("Y-m-d") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</section>

{% endblock %}