{% extends "shared/layout-left-nav.html" %}

{% block title %}Students{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h4>
        Students
    </h4>
</div>

<section>
    <div id="students-grid"></div>
</section>

<script>
    grid = new gridjs.Grid({
        columns: [
            { name: 'id', hidden: true },
            'Index Number',
            'Registration Number',
            'Full name',
            'Student Email',
        ],
        server: {
            url: "{{ apiEndpoint|e('js') }}",
            then: data => data.map(u => [
                u.id,
                u.indexNumber,
                u.registrationNumber,
                u.fullName,
                u.studentEmail
            ])
        },
        search: {
            server: {
                url: (prev, keyword) => `${prev}?q=${keyword}`
            }
        },
    });
    grid.render(document.getElementById("students-grid"));
    grid.on('rowClick', (e, row) => {
        window.location.href = `/internship-program/monitoring/students/${row.cells[0].data}`;
    });
</script>

{% endblock %}