{% extends "shared/layout-left-nav.html" %}

{% block title %}Student Users{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="mb-20">
    <h5>
        All submissions for '{{ requirement.name }}'
    </h5>
    <p class="fs-small">{{ userRequirements|length }} submissions found</p>
</div>
<table class="table table-hover border-0 table-compact">
    <colgroup>
        <col class="w-2-12">
        <col class="w-3-12">
        <col class="w-2-12">
        <col class="w-2-12">
        <col class="w-5-12">
    </colgroup>
    <thead>
        <tr>
            <th>First name</th>
            <th>Full name</th>
            <th>Completed on</th>
            <th>Index number</th>
            <th>Student email</th>
        </tr>
    </thead>
    <tbody class="table-rows-clickable">
        {% for i in userRequirements %}
        <tr data-href="submissions?r={{ requirement.id }}&u={{ i.user.id }}">
            <td class="capitalize">{{ i.user.firstName }}</td>
            <td class="capitalize">{{ i.user.fullName }}</td>
            <td class="capitalize">{{ i.completedAt.format("Y-m-d") }}</td>
            <td>{{ i.user.indexNumber }}</td>
            <td>{{ i.user.studentEmail }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}