{% extends "shared/layout-left-nav.html" %}

{% block title %}All User Requirements{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h4>
        All user requirements for '{{ requirement.name }}'
    </h4>
</div>

<section>
    <div id="user-requirements-grid"></div>
</section>

<div class="submission-viewer" id="popup-dialog">
    <div class="title-bar">
        <h6 id="title-bar-title"></h6>
        <button class="close" onclick="document.getElementById('popup-dialog').style.display = 'none'">
            <span class="i i-x-lg"></span>
        </button>
    </div>
    <div class="content">
        <div class="file-picker">
            <label for="file">Currently Viewing :</label>
            <select name="file" id="file" data-user-requirement-id="">
            </select>
        </div>
        <object class="pdf-viewer" id="pdf-viewer" data="" type="application/pdf">
            Your browser does not support this feature.
        </object>
    </div>
</div>

<script>
    grid = new gridjs.Grid({
        className: {
            tbody: 'gridjs-row-hover'
        },
        columns: [
            { name: 'id', hidden: true },
            'Index Number',
            'Full name',
            {
                name: 'Status',
                formatter: (cell) => {
                    if (cell === 'pending') {
                        return gridjs.html(
                            "<span class='fs-6 i i-dash-circle-fill text-warning'></span><span>Pending</span>"
                        );
                    }
                    return gridjs.html(
                        "<span class='fs-6 i i-check-circle-fill text-success'></span><span>Fulfilled</span>"
                    );
                },
            },
            {
                name: 'Submission',
                formatter: (cell, row) => {
                    return gridjs.h('button', {
                        className: 'btn',
                        disabled: row.cells[3].data === 'pending',
                        onClick: () => {
                            let popup = document.getElementById('popup-dialog');
                            let pdfViewer = document.getElementById('pdf-viewer');
                            if (popup.style.display === 'flex') {
                                popup.style.display = 'none';
                                return;
                            }

                            let fileSelect = document.getElementById('file');

                            if (parseInt(fileSelect.dataset.userRequirementId) === row.cells[0].data) {
                                popup.style.display = 'flex';
                                return;
                            }

                            fileSelect.dataset.userRequirementId = row.cells[0].data;
                            fileSelect.innerHTML = '';

                            row.cells[8].data.forEach((item) => {
                                let option = document.createElement('option');
                                option.value = item.url;
                                option.textContent = item.name
                                fileSelect.appendChild(option);
                            });

                            document.getElementById('title-bar-title').textContent = row.cells[1].data + ' | ' + row.cells[2].data;
                            pdfViewer.data = row.cells[8].data[0].url;
                            popup.style.display = 'flex';
                        },
                        innerText: 'View'
                    });
                }
            },
            'Start date',
            'End date',
            { name: 'fulfillMethod', hidden: true },
            { name: 'files', hidden: true }
        ],
        server: {
            url: "{{ apiEndpoint|e('js') }}",
            then: data => data.map(u => [
                u.id,
                u.indexNumber,
                u.fullName,
                u.status,
                ,
                u.startDate,
                u.endDate,
                u.fulfillMethod,
                u.files
            ])
        },
        search: {
            server: {
                url: (prev, keyword) => `${prev}?q=${keyword}`
            }
        },
    });
    grid.render(document.getElementById('user-requirements-grid'));

    let pdfViewer = document.getElementById('pdf-viewer');
    let fileSelect = document.getElementById('file');
    fileSelect.addEventListener('change', function () {
        pdfViewer.data = this.value;
    });

</script>

{% endblock %}