{% extends "shared/layout-left-nav.html" %}

{% block title %}Create an Internship Cycle{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h4>
        Create an internship cycle
    </h4>
</div>
<form action="/internship-program/cycle/create" method="POST">
    <div class="field-group">
        <h6>Internship collection</h6>
        <div class="field row">
            <label for="collection-start-date">Pick a start date</label>
            <input type="date" name="collection-start-date" id="collection-start-date" required>
        </div>
        <div class="field row">
            <label for="collection-end-date">Pick an end date</label>
            <input type="date" name="collection-end-date" id="collection-end-date" required>
        </div>
    </div>
    <div class="field-group">
        <h6>Internship application collection</h6>
        <div class="field row">
            <label for="application-start-date">Pick a start date</label>
            <input type="date" name="application-start-date" id="application-start-date">
        </div>
        <div class="field row">
            <label for="application-end-date">Pick an end date</label>
            <input type="date" name="application-end-date" id="application-end-date">
        </div>
    </div>
    <div class="field-group">
        <h6>Choose who participates in this cycle</h6>
        <div class="field row">
            <label for="partner-group">Select the group partners belong to</label>
            <select name="partner-group" id="partner-group">
                {% for group in userGroups %}
                <option value="{{ group.name }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field row">
            <label for="student-group">Select the group students belong to</label>
            <select name="student-group" id="student-group">
                {% for group in userGroups %}
                <option value="{{ group.name }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="actions">
        <input class="btn" type="submit" value="Create">
        <input class="btn btn-secondary" type="reset" value="Reset">
    </div>
</form>

{% endblock %}