{% extends "shared/layout-left-nav.html" %}

{% block title %}Current Internship Cycle{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>
        Current Internship Cycle
    </h2>
</div>
<section>
    <form>
        <div class="grid-details">
            <p>Created at</p>
            <p>:</p>
            <p>{{ internshipCycle.createdAt.format("Y-m-d H:i:s") }}</p>

            {% if internshipCycle.endedAt is not null %}
            <p>Ended at</p>
            <p>:</p>
            <p>{{ internshipCycle.endedAt.format("Y-m-d H:i:s") }}</p>
            {% endif %}
        </div>

        <p class="mt-30 mb-20 fw-semibold">Internship gathering phase</p>
        <div class="grid-details">
            <p>Start date</p>
            <p>:</p>
            <p>{{ internshipCycle.collectionStartDate.format("Y-m-d") }}</p>

            <p>End date</p>
            <p>:</p>
            <p>{{ internshipCycle.collectionEndDate.format("Y-m-d") }}</p>
        </div>

        <p class="mt-30 mb-20 fw-semibold">Internship gathering phase</p>
        <div class="grid-details">
            <p>Start date</p>
            <p>:</p>
            <p>{{ internshipCycle.applicationStartDate.format("Y-m-d") }}</p>

            <p>End date</p>
            <p>:</p>
            <p>{{ internshipCycle.applicationEndDate.format("Y-m-d") }}</p>
        </div>

        <p class="mt-30 mb-20 fw-semibold">Participants</p>
        <div class="grid-details">
            <p>Partner user group name</p>
            <p>:</p>
            <p>{{ internshipCycle.partnerUserGroupName }}</p>

            <p>Student user group name</p>
            <p>:</p>
            <p>{{ internshipCycle.studentUserGroupName }}</p>
        </div>

        <div class="actions">
            <button class="btn" type="button">Modify</button>
        </div>
    </form>
</section>

{% endblock %}