{% extends "shared/layout-left-nav.html" %}

{% block title %}Current Internship Cycle{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>
        Current Internship Cycle
    </h2>
</div>
<form>
    <div class="mb-40">
        <div class="fs-6 fw-6 pb-20">Internship gathering phase</div>
        <div class="row-cols-2 mb-5">
            <div>Start date</div>
            <div>Date</div>
        </div>
        <div class="row-cols-2 mb-5">
            <div>End date</div>
            <div>Date</div>
        </div>
        <div class="row-cols-2 mb-5">
            <div>Automatically send emails to partners when the start date is reached.</div>
            <div>Yes or No</div>
        </div>
    </div>
    <div class="mb-40">
        <div class="fs-6 fw-6 pb-20">Internship phase</div>
        <div class="row-cols-2 mb-5">
            <div>Start date</div>
            <div>Date</div>
        </div>
        <div class="row-cols-2 mb-5">
            <div>End date</div>
            <div>Date</div>
        </div>
        <div class="row-cols-2">
            <div>Automatically send emails to Undergraduates when the start date is reached.
            </div>
            <div>Yes or No</div>
        </div>
    </div>
    <div class="mb-40">
        <div class="fs-6 fw-6 pb-20">Who participates in this cycle</div>
        <div class="row-cols-2 mb-5">
            <div>User group students belong to</div>
            <div>
                User Group Name
            </div>
        </div>
        <div class="row-cols-2">
            <div>User group partners belong to</div>
            <div>
                User Group Name
            </div>
        </div>
    </div>
    <div class="actions">
        <input class="btn" type="submit" value="Modify">
    </div>
</form>

{% endblock %}