<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <meta http-equiv="cache-control" content="no-cache" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="wrapper">
        <div>
            {% block header %}{% endblock %}
        </div>
        <div class="content padding-x-60px">
            {% block content %}{% endblock %}
        </div>
        <div class="footer padding-x-60px">
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        </div>
    </div>
</body>

</html>