@use '../variables' as *;

.layout-left-nav {
    display: grid;
    grid-template-columns: 15rem auto;

    >.left-nav {
        border-right: $border-1;
        padding: 3rem 0 1rem 0;
        background-color: #f2f7ff;

        .list-view-group {
            margin-bottom: 1rem;

            &-header {
                line-height: 2.5;
                padding: 0 0.7525rem;
                font-weight: 600;
                border-bottom: $border-1;
                margin: 0 0.8125rem;
            }
        }

        a {
            display: inline-flex;
            align-items: center;
            width: 100%;
            padding: 0.565rem 0.625rem 0.565rem 1.565rem;

            transition-duration: 100ms;
            transition-property: background, border, color;
            transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);

            &:hover {
                background-color: #c0e0fe;
            }

            &:active {
                background-color: #b1d8fc;
            }

            &.active {
                background-color: #b1d8fc;
            }

            i {
                margin-left: 0;
                margin-right: 0.85rem;
                font-size: 1.1rem;
                color: #00589b;
            }
        }
    }

    >.content {
        margin: 3rem;

        >.title {
            margin-bottom: 2.5rem;

            >p {
                font-size: $fs-6;
            }
        }

        .info-card {
            >p {
                margin-bottom: 0.75rem;
            }

            margin-bottom: 1.5rem;
        }

        section {
            margin-top: 3rem;

            >.title {
                margin-bottom: 2rem;
            }
        }
    }
}