@use '../variables' as *;
@use '../mixins';

.layout-auth {
    background-image: url('/images/auth-background.png');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    width: 100%;

    >.content {
        width: 100%;
        margin: auto auto;
        padding: 4rem 2rem 2rem 2rem;
        display: flex;
        column-gap: 5rem;
        max-width: $authentication-page-max-width;
    }

    .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 4rem;
        position: relative;
        background: rgba(255, 255, 255, 0.25);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        max-width: max-content;
        border-radius: 1.25rem;
        padding: 2.5rem 4rem;
        margin: 2rem auto;

        .hero-logo {
            >.logo {
                width: 12rem;
                height: 12rem;
                border-radius: 11rem;
            }
        }

        .hero-text {
            h3 {
                color: #0527b0;
                padding-top: 1.25rem;
            }
        }
    }

    .auth-box {
        >.form-wrapper {
            margin: 0 auto;
            width: 24rem;
            padding: 3rem 2.5rem;
            background-color: #fff;
            border-radius: 1.25rem;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.14);

            position: relative;
            background: rgba(255, 255, 255, 0.25);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);

            >h4 {
                margin-bottom: 2rem;
            }

            &.signup {
                width: 28rem;
            }
        }
    }
}