@use "../variables" as *;
@use "../mixins";

.layout-auth {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    width: 100%;

    >.content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content 1fr;
        width: 100%;
        max-width: $authentication-page-max-width;
        margin: 6.25rem auto 3rem auto;
    }

    .hero-text {
        grid-column: span 2;
        margin-bottom: 2rem;
        text-align: center;

        h2 {
            font-weight: $fw-normal;
        }

        h3 {
            font-weight: $fw-light;
            color: #0527b0;
            padding-top: 1.25rem;
        }
    }

    .auth-box {
        margin: auto 3.5625rem auto 3.5625rem;

        >h4 {
            padding-bottom: 1.875rem;
        }

        >.form-wrapper {
            width: 18rem;

            &.signup {
                width: 22rem;
            }
        }
    }

    .logo-container {
        margin: auto;

        >.logo {
            width: 22rem;
            height: 22rem;
            border-radius: 11rem;
        }
    }

    .container {
        max-width: 800px;
        /* Set a maximum width for the container */
        margin: 0 auto;
        /* Center the container horizontally */
        padding: 20px;
        /* Add some padding inside the container */
        background-color: #ffb703;
        /* Set a background color for the container */
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px
    }
}