@use '../variables' as *;

.layout-job-search {
    height: 100%;

    .filters {
        display: flex;
        column-gap: 0.3rem;
        background-color: #f0f0f0;
        border-radius: $rounded-1;
        padding: 0.5rem 1rem 0.5rem 1.25rem;
        margin-bottom: 1.5rem;
        font-weight: 500;
        border: $border-1;

        >* {
            margin: auto 0;
        }

        >.title {
            font-weight: $fw-medium;
            color: #444444;

            .i-filter::before {
                font-size: 1.1rem;
            }
        }

        >.search {
            display: flex;
            flex-grow: 1;
            align-items: center;
            min-height: 2.25rem;

            padding-left: 1rem;
            margin-left: 1.4rem;
            margin-right: 4rem;

            background-color: #fdfdfd;
            border-radius: $rounded-1;
            border: 1px solid #d1d1d1;

            &:hover {
                border-color: #a0a2a4;
            }

            >input[type="text"] {
                background-color: #fff;
                border: none;
                width: 100%;
            }

            >.btn {
                align-self: stretch;
                border-radius: 0 ($rounded-1 - 1) ($rounded-1 - 1) 0;
            }
        }

        >.filter {
            border: 1px solid transparent;
            border-radius: $rounded-1;
            -webkit-user-select: none;
            user-select: none;
            transition: background 80ms linear;
            padding: 0.35rem 0.75rem 0.3rem 1.1rem;

            &:hover {
                cursor: pointer;
                background-color: #dad8d8;
            }

            &:active {
                background-color: #c8c6c6;
            }

            &.selected {
                border: 1px solid #0078b4;
                background-color: #cce3f5;

                &:hover {
                    background-color: #cce4f6;
                }
            }
        }
    }

    >.container {
        display: flex;
        column-gap: 1rem;

        .job-list-container {
            min-width: 23rem;
            position: sticky;
            top: 2.5vh;
            max-height: 95vh;
            overflow: auto;
            border-radius: $rounded-1;
            box-shadow: $shadow-4;

            .job {
                padding: 1rem 1.4rem 1.2rem 1.2rem;
                -webkit-user-select: none;
                user-select: none;
                cursor: pointer;
                transition: background 80ms linear;
                border-bottom: 1px solid;
                border-bottom-color: #cfcece;
                border-left: 4px solid;
                border-left-color: transparent;
                display: flex;
                align-items: center;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background-color: #f8f8f8;
                    text-decoration: underline;
                }

                &:active,
                &.active {
                    background-color: #deecf9
                }

                &.active {
                    border-left-color: rgb(0, 120, 180);
                }

                &-logo {
                    width: 2.7rem;
                    height: 2.7rem;

                    &.placeholder {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        >.i {
                            font-size: 1.5rem;
                        }
                    }
                }

                &-text {
                    margin-left: 1.5rem;

                    >.title {
                        font-weight: $fw-semibold;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }

        .job-list-navigation {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.2rem 1rem 1.2rem;

            .btn {
                border: $border-0;
                min-width: auto;
                padding: 8px 12px;

                &:first-child {
                    padding-right: 16px;
                }

                &:last-child {
                    padding-left: 16px;
                }

                .i {
                    font-weight: $fw-semibold;
                }
            }
        }

        .job-details {
            width: 100%;

            .skeleton {
                padding: 2.5rem;
                border-radius: $rounded-2;
                box-shadow: $shadow-3;

                &-header {
                    height: 2.4rem;
                    background-color: #eee;
                    margin-bottom: 1.2rem;
                    border-radius: $rounded-1;

                    &.last {
                        margin-bottom: 2.75rem;
                        width: 40%;
                    }
                }

                &-body {
                    margin-bottom: 1.5rem;
                }

                &-body .skeleton-line {
                    height: 1.2rem;
                    background-color: #eee;
                    margin-bottom: 0.625rem;
                    border-radius: $rounded-1;
                }

                &-line:last-child {
                    width: 80%;
                }
            }

            >.content {
                border-radius: $rounded-2;
                box-shadow: $shadow-3;
                padding-bottom: 1rem;

                >* {
                    padding-left: 2.5rem;
                    padding-right: 2.5rem;
                }

                >.title {
                    font-weight: $fw-semibold;
                    padding-top: 2.5rem;
                    padding-bottom: 2rem;
                    margin-bottom: 0;
                    background-color: #EEEDE7;
                }

                >.actions {
                    padding-bottom: 2rem;
                    background-color: #EEEDE7;
                }

                >.description {
                    margin-top: 2rem;
                    margin-bottom: 2.5rem;

                    >.title {
                        font-weight: $fw-semibold;
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }

    .pop-up-multi-select-list {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        width: 30rem;

        max-height: 75vh;
        box-shadow: $popup-dialog-box-shadow;
        background-color: #fff;
        padding: 2rem 2rem 1.5rem 2.5rem;
        border: 1px rgb(205, 205, 205) solid;
        border-radius: $rounded-2;
        display: flex;
        flex-direction: column;

        h4 {
            font-weight: $fw-semibold;
            margin-bottom: 2rem;
        }

        ul {
            margin-left: 1rem;
            overflow-y: auto;
            list-style: none;

            li {
                margin-bottom: 1rem;
                display: flex;

                &:last-child {
                    margin-bottom: 0;
                }

                input[type="checkbox"] {
                    margin-right: 0.5rem;
                }

                label {
                    cursor: pointer;
                    -webkit-user-select: none;
                    user-select: none;
                }
            }
        }

        input[type="radio"] {
            margin-right: 0.5rem;
        }

        .actions {
            text-align: right;
            margin-top: 2rem;
        }
    }
}