@use "../variables" as *;

.layout-left-nav {
    display: grid;
    grid-template-columns: 210px auto;
    margin-top: 1rem;

    >.left-nav {
        border-right: $border-1;
        padding: 0px 10px 15px 0px;
        margin-top: 50px;

        >.nav-link {
            display: block;
            padding: 9px 10px 8px 25px;
            margin-bottom: 2px;
            border-radius: $rounded-1;

            transition-duration: 100ms;
            transition-property: background, border, color;
            transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);

            &:hover {
                background-color: #DEDEDE;
            }

            &:active {
                background-color: #D4D4D4;
            }

            &.active {
                background-color: #e4e4e4;
            }
        }
    }

    >.content {
        margin-left: 3rem;

        >.title {
            margin-bottom: 2.5rem;

            >p {
                font-size: $fs-6;
            }
        }

        section {
            margin-top: 3rem;
        }

        p {
            margin-top: 1.25rem;
            margin-bottom: 1rem;
        }
    }
}