@use "../var";

.list {
    border: var.$border-1;
    border-radius: var.$rounded-1;

    &-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-height: 3.75rem;
        border-bottom: var.$border-1;
        padding: 0 1.2rem;
        transition: background 80ms linear;

        &:last-child {
            border-bottom: none;
        }

        &-title {
            padding-top: 0.1rem;
        }

        &:hover {
            background-color: #f2f2f2;
        }
    }
}