@use "../variables" as *;

.list {
    border: $border-1;
    border-radius: $rounded-1;

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 3.25rem;
        border-bottom: $border-1;
        padding: 0 1.2rem;
        transition: background 80ms linear;

        &:first-child {
            border-radius: ($rounded-1 - 1) ($rounded-1 - 1) 0 0;
        }

        &:last-child {
            border-radius: 0 0 ($rounded-1 - 1) ($rounded-1 - 1);
            border-bottom: none;
        }

        &-title {
            padding-top: 0.1rem;
        }

        &:hover {
            background-color: #f2f2f2;
        }
    }
}