@use "../variables" as *;

$filter-bar-bg-color: #f0f0f0;
$filter-bar-title-color: #444444;
$search-bar-bg-color: #fdfdfd;
$search-btn-bg-color: #d2d3d4;
$filter-item-hover-bg-color: #dad8d8;
$filter-item-active-bg-color: #c8c6c6;

.list-view {
    .filters {
        display: flex;
        column-gap: 0.3rem;
        background-color: $filter-bar-bg-color;
        border-radius: $rounded-1;
        padding: 0.5rem 1rem 0.5rem 1.25rem;
        margin-bottom: 1.5rem;
        font-size: $text-field-font-size;
        font-weight: $btn-font-weight;
        border: $border-1;

        >* {
            margin: auto 0;
        }

        >.title {
            font-weight: $fw-medium;
            color: $filter-bar-title-color;

            .i-filter::before {
                font-size: 1.1rem;
            }
        }

        >.search {
            display: flex;
            flex-grow: 1;
            align-items: center;
            min-height: 2.25rem;

            padding-left: 1rem;
            margin-left: 1.4rem;
            margin-right: 4rem;

            background-color: $search-bar-bg-color;
            border-radius: $rounded-1;
            border: $btn-border $filter-bar-bg-color;

            &:hover {
                border: $btn-border $btn-hover-border-color;
            }

            >input[type="text"] {
                outline: none;
                border: none;
                width: 100%;
            }

            >.btn {
                align-self: stretch;
                border-radius: 0 $rounded-1 $rounded-1 0;

                &:hover {
                    border-radius: 0 ($rounded-1 - 2) ($rounded-1 - 2) 0;
                }
            }
        }

        >.item {
            border-radius: $rounded-1;
            user-select: none;
            transition: background 80ms linear;
            padding: 0.45rem 0.75rem 0.4rem 1.1rem;

            &:hover {
                cursor: pointer;
                background-color: $filter-item-hover-bg-color;
            }

            &:active {
                background-color: $filter-item-active-bg-color;
            }
        }
    }

    >.content-container {
        display: flex;
        column-gap: 1rem;

        .item-list {
            min-width: 23rem;
            height: max-content;
            border-radius: $rounded-1;
            box-shadow: $shadow-4;

            .empty-list {
                margin-top: 0.5rem;
                margin-bottom: 1.5rem;
                padding: 1.25rem;
                text-align: center;
            }

            .item-card {
                padding: 1rem 1.4rem 1.2rem 1.2rem;
                user-select: none;
                cursor: pointer;
                transition: background 80ms linear;
                border-bottom: 1px solid;
                border-bottom-color: #cfcece;
                border-left: 4px solid;
                border-left-color: transparent;
                display: flex;
                align-items: center;

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background-color: #f8f8f8;
                    text-decoration: underline;
                }

                &:active,
                &.active {
                    background-color: #deecf9
                }

                &.active {
                    border-left-color: rgb(0, 120, 180);
                }

                &-logo {
                    width: 2.7rem;
                    height: 2.7rem;

                    &.placeholder {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        >.i {
                            font-size: 1.5rem;
                        }
                    }
                }

                &-text {
                    margin-left: 1.5rem;

                    >.title {
                        font-weight: $fw-semibold;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }

        .item-details {
            position: sticky;
            top: 20px;
            height: min(max-content, 95vh);
            width: 100%;

            .skeleton {
                padding: 2.5rem;
                border-radius: $rounded-2;
                box-shadow: $shadow-3;

                &-header {
                    height: 2.4rem;
                    background-color: #eee;
                    margin-bottom: 1.2rem;
                    border-radius: $rounded-1;

                    &.last {
                        margin-bottom: 2.75rem;
                        width: 40%;
                    }
                }

                &-body {
                    margin-bottom: 1.5rem;
                }

                &-body .skeleton-line {
                    height: 1.2rem;
                    background-color: #eee;
                    margin-bottom: 0.625rem;
                    border-radius: $rounded-1;
                }

                &-line:last-child {
                    width: 80%;
                }
            }

            >.content {
                max-height: 100%;
                overflow-y: auto;
                border-radius: $rounded-2;
                box-shadow: $shadow-3;

                >* {
                    padding-left: 2.5rem;
                    padding-right: 2.5rem;
                }

                >.title {
                    font-weight: $fw-semibold;
                    padding-top: 2.5rem;
                    padding-bottom: 2rem;
                    margin-bottom: 0;
                    background-color: #EEEDE7;
                }

                >.actions {
                    padding-bottom: 2rem;
                    background-color: #EEEDE7;
                }

                .job-description-container {
                    margin-top: 2rem;
                    margin-bottom: 2.5rem;

                    >.title {
                        font-weight: $fw-semibold;
                    }
                }
            }
        }
    }

    .pop-up-multi-select-list {
        position: fixed;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        width: 30rem;

        height: 75vh;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-color: #fff;
        padding: 2rem 2rem 1.5rem 2.5rem;
        border-radius: $rounded-2;
        display: flex;
        flex-direction: column;

        h4 {
            font-weight: $fw-semibold;
            margin-bottom: 1.5rem;
        }

        ul {
            overflow-y: auto;
            list-style: none;

            li {
                margin-bottom: 1rem;
                display: flex;

                &:last-child {
                    margin-bottom: 0;
                }

                input[type="checkbox"] {
                    margin-right: 0.5rem;
                }

                label {
                    cursor: pointer;
                    user-select: none;
                }
            }
        }

        .actions {
            text-align: right;
            margin-top: 2rem;
        }
    }
}