@use "../var";

$filter-bar-bg-color: #f0f0f0;
$filter-bar-title-color: #444444;
$search-bar-bg-color: #fdfdfd;
$search-btn-bg-color: #d2d3d4;
$filter-item-hover-bg-color: #dad8d8;
$filter-item-active-bg-color: #c8c6c6;

.list-view {
    .filters {
        display: flex;
        column-gap: 0.3rem;
        background-color: $filter-bar-bg-color;
        border-radius: var.$rounded-1;
        padding: 0.5rem 1rem 0.5rem 1.5rem;
        margin-bottom: 1.5rem;

        >* {
            margin: auto 0;
        }

        >.title {
            font-weight: var.$fw-6;
            color: $filter-bar-title-color;

            .i-filter::before {
                font-size: 1.1rem;
            }
        }

        >.search {
            display: flex;
            flex-grow: 1;
            align-items: center;
            min-height: 2.5rem;

            padding-left: 1rem;
            margin-left: 1.4rem;
            margin-right: 4rem;

            background-color: $search-bar-bg-color;
            border-radius: var.$rounded-1;
            border: 1px solid $filter-bar-bg-color;

            &:hover {
                border: 1px solid var.$colors-btn-primary-border;
            }

            .i-search::before {
                vertical-align: top;
            }

            >input[type="text"] {
                outline: none;
                border: none;
                width: 100%;
            }

            .btn-search {
                align-self: stretch;
                background-color: $search-btn-bg-color;

                &:hover {
                    background-color: var.$colors-btn-primary-bg;
                    color: var.$colors-btn-primary;
                }
            }
        }

        >.item {
            border-radius: var.$rounded-1;
            user-select: none;
            transition: background 80ms linear;
            padding: 0.5rem 0.75rem 0.6rem 1.1rem;

            &:hover {
                cursor: pointer;
                background-color: $filter-item-hover-bg-color;
            }

            &:active {
                background-color: $filter-item-active-bg-color;
            }
        }
    }

    .list {
        .item {
            padding: 1.25rem;
            margin-bottom: 1rem;
            border: var.$border-1;
            border-radius: var.$rounded-1;

            &:hover {
                background-color: #f8f8f8
            }

            &:active {
                background-color: #deecf9
            }

            .description {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}