@use "../variables" as *;


.row-cols-2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 25px;
    margin-bottom: 10px;
    border: $border-1;
    border-radius: $rounded-1;
}

.row {
    display: flex;
    column-gap: 1rem;
    align-items: baseline;
    margin-bottom: 0.25rem;
}