@use "../var";

.row-cols-2 {
    display: grid;
    grid-template-columns: auto max-content;
    align-items: baseline;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: var.$border-1;
    border-radius: var.$rounded-1;
}