{% extends "shared/layout-left-nav.html" %}

{% block title %}Add Requirement{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h3>
        Add a requirement
    </h3>
</div>
<section>
    <form action="/internship-program/requirements/create" method="POST">
        <div class="field row">
            <label for="name">Display name</label>
            <input type="text" name="name" id="name" autocomplete="off" required>
        </div>
        <div class="field row">
            <label for="description">Description (optional)</label>
            <div>
                {# <input type="text" name="description" id="description" autocomplete="off"> #}
                {% include "shared/text-editor.html" with {
                "name": "description",
                "maxlength": "2000",
                "placeholder": "Put your description here."
                } %}
            </div>
        </div>

        <div class="field row">
            <label for="start-date">
                Select a date from which the requirement must be fulfilled. (date inclusive)
            </label>
            <input type="date" name="start-date" id="start-date" autocomplete="off" required>
        </div>

        <div class="field-radio row">
            <div class="label">Do you want to repeat this requirement?</div>
            <div>
                <div class="option">
                    <input type="radio" name="type" id="type-recurring" value="recurring" autocomplete="off" required>
                    <label for="type-recurring">Yes</label>
                </div>
                <div class="option">
                    <input type="radio" name="type" id="type-one-time" value="one-time" autocomplete="off" required>
                    <label for="type-one-time">No</label>
                </div>
            </div>
        </div>

        <div class="hidden" id="field-recurring">
            <div class="field-radio row hidden">
                <div class="label">Repeat (up to maximum of six months duration)</div>
                <div>
                    <div class="option">
                        <input type="radio" name="repeat-interval" id="repeat-daily" value="daily" autocomplete="off">
                        <label for="repeat-daily">Daily</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="repeat-interval" id="repeat-weekly" value="weekly" autocomplete="off">
                        <label for="repeat-weekly">Weekly</label>
                    </div>
                    <div class="option">
                        <input type="radio" name="repeat-interval" id="repeat-monthly" value="monthly"
                            autocomplete="off">
                        <label for="repeat-monthly">Monthly</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden" id="field-one-time">
            <div class="field row">
                <label for="end-before-one-time">Select a date by which the requirement must be fulfilled. (date not
                    inclusive)</label>
                <input type="date" name="end-before" id="end-before-one-time" autocomplete="off">
            </div>
        </div>

        <div class="field-radio row" id="fulfill-method">
            <div class="label">How do you want users to fulfill this requirement?</div>
            <div>
                <div class="option">
                    <input type="radio" name="fulfill-method" id="fulfill-method-file" value="file" autocomplete="off"
                        required>
                    <label for="fulfill-method-file">By uploading one or more files</label>
                </div>
                <div class="option">
                    <input type="radio" name="fulfill-method" id="fulfill-method-text" value="text" autocomplete="off"
                        required>
                    <label for="fulfill-method-text">Prompt user to type in a textbox</label>
                </div>
            </div>
        </div>

        <div class="hidden" id="fulfill-method-file-options">
            <div class="field row">
                <div class="label">Select the file types that users can upload to fulfill this requirement.</div>
                <div class="checkbox-container cols-2">
                    <input type="checkbox" name="file-types" id="file-type-pdf" value="pdf" autocomplete="off" checked>
                    <label for="file-type-pdf">PDF</label>

                    <input type="checkbox" name="file-types" id="file-type-doc" value="doc" autocomplete="off">
                    <label for="file-type-doc">DOC</label>

                    <input type="checkbox" name="file-types" id="file-type-docx" value="docx" autocomplete="off">
                    <label for="file-type-docx">DOCX</label>

                    <input type="checkbox" name="file-types" id="file-type-ppt" value="ppt" autocomplete="off">
                    <label for="file-type-ppt">PPT</label>

                    <input type="checkbox" name="file-types" id="file-type-pptx" value="pptx" autocomplete="off">
                    <label for="file-type-pptx">PPTX</label>

                    <input type="checkbox" name="file-types" id="file-type-jpg" value="jpg" autocomplete="off">
                    <label for="file-type-jpg">JPG</label>

                    <input type="checkbox" name="file-types" id="file-type-png" value="png" autocomplete="off">
                    <label for="file-type-png">PNG</label>
                </div>
            </div>

            <div class="field row">
                <label for="max-file-size">Maximum file size (in MB)</label>
                <input type="number" name="max-file-size" id="max-file-size" value="5" autocomplete="off">
            </div>

            <div class="field row">
                <label for="max-file-count">Maximum number of files</label>
                <input type="number" name="max-file-count" id="max-file-count" value="1" autocomplete="off">
            </div>
        </div>

        <div class="actions">
            <input class="btn" type="submit" value="Add">
        </div>
    </form>
</section>

{% endblock %}

{% block js %}
<script src="/js/requirement-add.js" type="text/javascript"></script>
{% endblock %}