{% extends "shared/layout-left-nav.html" %}

{% block title %}Requirements{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>Requirements to be fulfilled</h2>
    <p>Manage requirements that students and partners must complete.</p>
</div>

<div class="actions mb-20">
    <a class="btn btn-primary" role="button" href="requirements/create">Add Requirement</a>
</div>

<section>

    {% if requirements is empty %}
    <p>No requirements have found.</p>
    {% else %}

    <table class="table table-hover">
        <colgroup>
            <col class="w-3-5">
            <col class="w-1-5">
            <col class="w-1-5">
        </colgroup>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Start Date</th>
            </tr>
        </thead>
        <tbody class="table-rows-clickable">
            {% for item in requirements %}
            <tr data-href="/internship-program/requirements/{{ item.id }}">
                <td>{{ item.name }}</td>
                <td class="capitalize">
                    {% set requirementType = item.requirementType.toString %}
                    {% if requirementType == "recurring" %}
                    {{ requirementType }} ({{ item.repeatInterval.toString }})
                    {% else %}
                    {{ requirementType }}
                    {% endif %}
                </td>
                <td>{{ item.startDate.format("Y-m-d") }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</section>

{% endblock %}