{% extends "shared/layout-left-nav.html" %}

{% block title %}{{ requirement.name }}{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h3>{{ requirement.name }}</h3>
</div>
<section>
    <h5 class="fw-5 mb-20">Description</h5>
    <div class="mb-30 formatted-text-area border-1 p-20 rounded-1">{{ requirement.description|raw }}</div>

    <h5 class="fw-4">Type</h5>
    <p class="mb-25 capitalize">{{ requirement.type }}</p>

    {% if requirement.type == "recurring" %}
    <h5 class="fw-4">Repeat interval</h5>
    <p class="mb-25 capitalize">{{ requirement.repeatInterval }}</p>
    {% endif %}

    <h5 class="fw-4">Start date</h5>
    <p class="mb-25">{{ requirement.startDate.format("Y-m-d") }}</p>

    {% if requirement.type == "one-time" %}
    <h5 class="fw-4">End before date</h5>
    <p class="mb-25">{{ requirement.endBeforeDate.format("Y-m-d") }}</p>
    {% endif %}

    <div class="actions mt-50">
        <button class="btn" type="button">Modify</button>
        <button class="btn" type="button">Remove</button>
    </div>
</section>

{% endblock %}