{% extends "shared/layout-left-nav.html" %}

{% block title %}{{ requirement.name }}{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title mb-0">
    <h4>{{ requirement.name }}</h4>
</div>
<section class="mt-0">
    <form>
        <div class="divider"></div>
        <p class="fw-medium mb-5">Description</p>
        <div class="mb-7 bg-grey-100 formatted-text-area p-5 rounded-1">{{ requirement.description|raw }}</div>

        <div class="grid-details">
            <p class="label">Type</p>
            <p>:</p>
            <p class="capitalize">{{ requirement.requirementType.value }}</p>

            {% if requirement.requirementType.value == "recurring" %}
            <p class="label">Repeat interval</p>
            <p>:</p>
            <p class="capitalize">{{ requirement.repeatInterval.value }}</p>
            {% endif %}

            <p class="label">Start date</p>
            <p>:</p>
            <p>{{ requirement.startDate.format("Y-m-d") }}</p>

            {% if requirement.requirementType.value == "one-time" %}
            <p class="label">End date (Exclusive)</p>
            <p>:</p>
            <p>{{ requirement.endBeforeDate.format("Y-m-d") }}</p>
            {% endif %}

            {% set fulfillMethod = requirement.fulfillMethod.value %}
            <p class="label">Fulfill Method</p>
            <p>:</p>
            <p class="capitalize">{{ fulfillMethod }}</p>

            {% if fulfillMethod == "file-upload" %}

            <p class="label">Allowed file types</p>
            <p>:</p>
            <p class="value uppercase">
                {% for type in requirement.allowedFileTypes %}
                {{ type }} <br>
                {% endfor %}
            </p>

            <p class="label">Maximum file size</p>
            <p>:</p>
            <p>{{ requirement.maxFileSize }}</p>

            <p class="label">Maximum file count</p>
            <p>:</p>
            <p>{{ requirement.maxFileCount }}</p>

            {% endif %}
        </div>

        <div class="divider"></div>
        <div class="actions">
            <button class="btn" type="button">Modify</button>
            <button class="btn" type="button">Remove</button>
        </div>
    </form>
</section>

{% endblock %}