{% extends "shared/layout-left-nav.html" %}

{% block title %}Select Users{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h4>
        Select users
    </h4>
</div>
<section>
    <div class="text-right">
        <button type="button" class="btn btn-primary" id="btn-done">Done</button>
    </div>
    <div id="users-grid"></div>
</section>
<script src="/js/internship-program/requirements/select-users.js" type="text/javascript"></script>
{% endblock %}