{% extends "shared/layout-left-nav.html" %}

{% block title %}{{ requirement.name }}{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title mb-0">
    <h4>{{ requirement.name }}</h4>
</div>
<section class="mt-0">
    <form>
        <div class="divider"></div>
        <div class="row mb-25">
            <p class="fw-medium">Complete this requirement before the following date :</p>
            <p>{{ userRequirement.endDate.format("Y-m-d") }}</p>
        </div>

        <p class="fw-medium mb-20">Description</p>
        <div class="mb-30 bg-grey-100 formatted-text-area p-20 rounded-1">
            {{ requirement.description|raw }}
        </div>

        <div class="divider"></div>
    </form>

    {% if userRequirement.status == "pending" %}
    {% set fulfillMethod = requirement.fulfillMethod.value %}
    <div>
        {% if fulfillMethod == "file-upload" %}
        <form action="/internship-program/requirements/complete" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="user-requirement-id" value="{{ userRequirement.id }}" />

            <div class="row mb-5">
                <p>Maximum number of files :</p>
                <p>{{ requirement.maxFileCount }}</p>
            </div>

            <div class="row mb-5">
                <p>Maximum file size :</p>
                <p>{{ requirement.maxFileSize }} MB</p>
            </div>

            <div class="row mb-25">
                <p>Allowed file types :</p>
                <p class="uppercase">
                    {% for t in requirement.allowedFileTypes %}
                    {{ t }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>

            {% set allowedFileTypes = requirement.allowedFileTypes|join(",.")|raw %}
            {% set allowedFileTypes = "." ~ allowedFileTypes %}

            {% if requirement.maxFileCount == 1 %}

            {% include 'shared/file-upload.html' with {
            'id': 'files-to-upload',
            'name': 'files-to-upload',
            'accept': allowedFileTypes,
            'button_text': 'Select file to upload',
            'required': true
            } %}

            {% else %}

            {% include 'shared/file-upload.html' with {
            'id': 'files-to-upload',
            'name': 'files-to-upload[]',
            'accept': allowedFileTypes,
            'button_text': 'Select files to upload',
            'multiple': true,
            'required': true
            } %}

            {% endif %}
            <div class="divider"></div>

            <button class="btn mt-25" type="submit">Submit</button>
        </form>
        {% endif %}

        {% if fulfillMethod == "text-input" %}
        <form action="/internship-program/requirements/complete" method="POST">
            <input type="hidden" name="user-requirement-id" value="{{ userRequirement.id }}" />
            <div class="field">
                <label class="fw-medium" for="description">Your response</label>
                <div>
                    {% include "shared/text-editor.html" with {
                    "name": "text-response",
                    "maxlength": "2000",
                    "placeholder": "Put your description here."
                    } %}
                </div>
            </div>
            <div class="divider"></div>

            <button class="btn mt-25" type="submit">Submit</button>
        </form>
        {% endif %}
    </div>
    {% endif %}

    {% if userRequirement.status == "fulfilled" %}

    <div class="row mb-5">
        <p class="fw-medium">Completed on :</p>
        <p>{{ userRequirement.completedAt.format("Y-m-d") }}</p>
    </div>

    {% endif %}
</section>

{% endblock %}