{% extends "shared/layout-left-nav.html" %}

{% block title %}{{ requirement.name }}{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h4>{{ requirement.name }}</h4>
</div>
<section>
    <form>
        <div class="grid-details mb-6">
            <label class="fw-medium">Complete this requirement before the following date</label>
            <p>:</p>
            <p>{{ userRequirement.endDate.format("Y-m-d") }}</p>
        </div>

        <label class="fw-medium mb-5">Description</label>
        <div class="mb-7 bg-grey-100 formatted-text-area p-5 rounded-1">
            {{ requirement.description|raw }}
        </div>

        <div class="divider"></div>
    </form>

    {% if userRequirement.status == "pending" %}
    {% set fulfillMethod = requirement.fulfillMethod.value %}
    <div>
        {% if fulfillMethod == "file-upload" %}
        <form action="/internship-program/requirements/complete" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="user-requirement-id" value="{{ userRequirement.id }}" />

            <div class="grid-details mb-10">
                <p>Maximum number of files</p>
                <p>:</p>
                <p>{{ requirement.maxFileCount }}</p>

                <p>Maximum file size</p>
                <p>:</p>
                <p>{{ requirement.maxFileSize }} MB</p>

                <p>Allowed file types</p>
                <p>:</p>
                <p class="uppercase">
                    {% for t in requirement.allowedFileTypes %}
                    {{ t }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>

            {% set allowedFileTypes = requirement.allowedFileTypes|join(",.")|raw %}
            {% set allowedFileTypes = "." ~ allowedFileTypes %}

            {% if requirement.maxFileCount == 1 %}

            {% include 'shared/file-upload.html' with {
            'id': 'files-to-upload',
            'name': 'files-to-upload',
            'accept': allowedFileTypes,
            'button_text': 'Select file to upload',
            'required': true
            } %}

            {% else %}

            {% include 'shared/file-upload.html' with {
            'id': 'files-to-upload',
            'name': 'files-to-upload[]',
            'accept': allowedFileTypes,
            'button_text': 'Select files to upload',
            'multiple': true,
            'required': true
            } %}

            {% endif %}

            <button class="btn btn-primary mt-6" type="submit">Submit</button>
        </form>
        {% endif %}

        {% if fulfillMethod == "text-input" %}
        <form action="/internship-program/requirements/complete" method="POST">
            <input type="hidden" name="user-requirement-id" value="{{ userRequirement.id }}" />
            <div class="field">
                <label class="fw-medium" for="text-response">Your response</label>
                <div class="text-editor-container">
                    <input type="hidden" name="text-response" id="text-response"
                        placeholder="Put your description here.">
                    <div class="text-editor"></div>
                </div>
            </div>

            <button class="btn btn-primary mt-6" type="submit">Submit</button>
        </form>
        {% endif %}
    </div>
    {% endif %}

    {% if userRequirement.status == "fulfilled" %}

    <div class="grid-details">
        <label class="fw-medium">Completed on</label>
        <p>:</p>
        <p>{{ userRequirement.completedAt.format("Y-m-d") }}</p>
    </div>

    {% endif %}
</section>
<script src="/js/internship-program/requirements/user-requirement.js" type="text/javascript"></script>
{% endblock %}