<div class="left-nav">
    <a class="nav-link {% if section == 'details' %} active{% endif %}" href="details">
        Internship Details
    </a>
    <a class="nav-link {% if section == 'internships' %} active{% endif %}" href="internships">
        Apply for Internships
    </a>
    <a class="nav-link {% if section == 'documents' %} active{% endif %}" href="documents">
        Documents
    </a>
    <a class="nav-link {% if section == 'feedback' %} active{% endif %}" href="feedback">
        Feedback
    </a>
</div>