{% extends "shared/layout.html" %}

{% block title %}User Management{% endblock %}

{% block content %}

<div class="title mb-10">
    <h2>
        Company Partners
    </h2>
</div>

<div class="row-cols-2">
    <div>
        Company 01
    </div>
    <div>
        <button class="btn">View</button>
        <button class="btn">Edit</button>
    </div>
</div>

<div class="row-cols-2">
    <div>
        Company 02
    </div>
    <div>
        <button class="btn">View</button>
        <button class="btn">Edit</button>
    </div>
</div>

<div class="row-cols-2">
    <div>
        Company 03
    </div>
    <div>
        <button class="btn">View</button>
        <button class="btn">Edit</button>
    </div>
</div>

{% endblock %}