{% extends "shared/layout-left-nav.html" %}

{% block title %}Admin Portal{% endblock %}

{% block left_nav %}
{% include "portal/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>Admin Portal</h2>
</div>
<section>
    <div class="flex top-navigation" id="top-navigation">
        <a class="link mr-10" href="/portal/home/link1">
            Tab 1
        </a>
        <a class=" link mr-10" href="/portal/home/link2">
            Tab 2
        </a>
        <a class="link" href="/portal/home/link3">
            Tab 3
        </a>
    </div>
    <div class="page" id="page">

    </div>
</section>
<script src="/js/portal.js"></script>

{% endblock %}