<a class="nav-link {% if section == 'home' %} active{% endif %}" href="/portal">
    Home
</a>
<a class="nav-link {% if section=='users' %} active{% endif %}" href="/portal/users">
    Users
</a>
<a class="nav-link {% if section=='groups' %} active{% endif %}" href="/portal/groups">
    Groups
</a>
<a class="nav-link {% if section=='partners' %} active{% endif %}" href="/portal/partners">
    Partners
</a>
<a class="nav-link {% if section=='students' %} active{% endif %}" href="/portal/students">
    Students
</a>