{% extends "shared/layout-left-nav.html" %}

{% block title %}Users{% endblock %}

{% block left_nav %}
{% include "portal/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>Users</h2>
    <p>All users</p>
</div>

<div class="command-bar">
    <a class="btn btn-regular" href="/portal/users/create">
        <i class="i i-plus-lg"></i>
        <span>New user</span>
    </a>
    <span class="spacer"></span>
    <button class="btn btn-regular" id="addto-group-btn" disabled>
        <i class="i i-people"></i>
        <span id="add-to-group">Add to group</span>
    </button>

    <div class="dialog-container" id="usergroup-popup">
        <div class="dialog min-w-80">
            {% for group in groups %}
            <div class="mx-6 mt-2 mb-2">
                <div class="checkbox">
                    <input type="checkbox" name="{{ group.name }}" id="{{ group.id }}">
                    <label for="{{ group.id }}">{{ group.name }}</label>
                </div>
            </div>
            {%endfor%}
            <div class="actions">
                <button type="button" class="btn btn-primary" id="usergroup-popup-addto-btn">Add to Group</button>
                <button type="button" class="btn btn-secondary" id="usergroup-popup-reset-btn">Reset</button>
            </div>
        </div>
    </div>

    <span class="spacer"></span>
    <button class="btn btn-regular" disabled data-action="enable" id="activate-user-btn">
        <i class="i i-check-circle"></i>
        <span>Enable</span>
    </button>
    <button class="btn btn-regular" disabled data-action="disable" id="deactivate-user-btn">
        <i class="i i-x-circle"></i>
        <span>Disable</span>
    </button>
    <span class="spacer"></span>
    <button class="btn btn-regular" disabled id="remove-user-btn">
        <i class="i i-trash"></i>
        <span>Delete</span>
    </button>
</div>
<section>
    <p class="fs-small mb-3">{{ users|length }} users found.</p>
    <table class="table border-0 table-hover table-compact ">
        <colgroup>
            <col class="w-10">
            <col class="w-2/12">
            <col class="w-3/12">
            <col class="w-2/12">
            <col class="w-2/12">
            <col class="w-5/12">
        </colgroup>
        <thead>
            <tr>
                <th><input type="checkbox" title="Select All"></th>
                <th>Display name</th>
                <th>Email</th>
                <th>User type</th>
                <th>Is active</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-rows-clickable" id="user-table">
            {% for i in users %}
            <tr data-href="users?u={{ i.id }}">
                <td><input type="checkbox" id="{{ i.id }}" title="Select"></td>
                <td class="capitalize">{{ i.firstName ?? i.fullName }}</td>
                <td>{{ i.email ?? i.studentEmail }}</td>
                <td class="capitalize">{{ i.type }}</td>
                <td>
                    {% if i.isActive %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<script src="/js/portal/users.js" type="text/javascript"></script>

{% endblock %}