{% extends "shared/layout-left-nav.html" %}

{% block title %}Users{% endblock %}

{% block left_nav %}
{% include "portal/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>Users</h2>
    <p>All users</p>
</div>

<div class="command-bar">
    <a class="btn btn-regular btn-icon" href="/portal/users/create">
        <i class="i i-plus-lg"></i>
        New user
    </a>
    <span class="spacer"></span>
    <button class="btn btn-regular btn-icon" disabled>
        <i class="i i-people"></i>
        <span>Add to group</span>
    </button>
    <span class="spacer"></span>
    <button class="btn btn-regular btn-icon" disabled data-action="enable">
        <i class="i i-check-circle"></i>
        <span>Enable</span>
    </button>
    <button class="btn btn-regular btn-icon" disabled data-action="disable">
        <i class="i i-x-circle"></i>
        Disable
    </button>
    <button class="btn btn-regular btn-icon" disabled data-action="reset">
        <i class="i i-arrow-repeat"></i>
        <span>Reset password</span>
    </button>
    <span class="spacer"></span>
    <button class="btn btn-regular btn-icon" disabled>
        <i class="i i-trash"></i>
        <span>Delete</span>
    </button>
</div>
<section>
    <p class="fs-small mb-10">{{ users|length }} users found.</p>
    <table class="table border-0 table-hover table-compact rows-selectable">
        <colgroup>
            <col class="w-10">
            <col class="w-2-12">
            <col class="w-3-12">
            <col class="w-2-12">
            <col class="w-2-12">
            <col class="w-5-12">
        </colgroup>
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>Display name</th>
                <th>Email</th>
                <th>User type</th>
                <th>Is active</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-rows-clickable">
            {% for i in users %}
            <tr data-href="users?u={{ i.id }}">
                <td><input type="checkbox" id="{{ i.id }}"></td>
                <td class="capitalize">{{ i.firstName ?? i.fullName }}</td>
                <td>{{ i.email ?? i.studentEmail }}</td>
                <td class="capitalize">{{ i.type }}</td>
                <td>
                    {% if i.isActive %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<script src="/js/portal/users.js" type="text/javascript"></script>
<script>
    table.makeRowsClickable(".table-rows-clickable");

    let tbodyCheckboxes = document.querySelectorAll("tbody input[type=checkbox]");
    table.makeRowsSelectable("thead input[type=checkbox]", tbodyCheckboxes);
</script>

{% endblock %}