{% extends "shared/left-nav-layout.html" %}

{% block title %}Create Internship{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="content">
    <div class="title">
        Showing Applicants
    </div>
    <div class="row-right mb-20 pe-10">
        <input type="button" value="Download All">
    </div>
    {% for item in applicants %}
    <div class="row-cols-2 mb-5">
        <div>
            {{ item }}
        </div>
        <div>
            <a href="">
                <input type="button" value="Download">
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}