{% extends "shared/layout-left-nav.html" %}

{% block title %}Create Internship{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="content">
    <div class="title">
        Showing Applicants
    </div>
    <div class="row-right mb-20 pe-10">
        <a class="btn btn-primary" role="button" href="">Download all</a>
    </div>
    {% for item in applicants %}
    <div class="row-cols-2 mb-5">
        <div>
            {{ item }}
        </div>
        <a class="btn btn-primary" role="button" href="">Download</a>
    </div>
    {% endfor %}
</div>
{% endblock %}