{% extends "shared/layout-left-nav.html" %}

{% block title %}Create Internship{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h4>
        Post an internship
    </h4>
</div>
<form action="/internship-program/internships/create" method="POST">
    <div class="field">
        <label for="title">Title</label>
        <input name="title" id="title" type="text" maxlength="75" placeholder="Add a title" required>
    </div>

    <div class="field">
        <label for="description">Description</label>
        {% include 'shared/text-editor.html' with {
        'name': 'description',
        'maxlength': '2000',
        'placeholder': 'Put your description here.'
        } %}
    </div>

    {% if has_role(Admin) %}
    <div class="field">
        <label for="organization">Company or institute</label>
        <select name="organization" id="org">
            <option value="" selected disabled>Select a company or institute</option>
            {% for org in organizations %}
            <option value="{{ org.id }}">{{ org.name }}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}

    <div class="field-radio" id="apply-method">
        <div class="label">Do you want to receive applications on a different website?</div>
        <div class="option">
            <input type="radio" name="apply-method" id="apply-external" value="external" autocomplete="off" required>
            <label for="apply-external">Yes</label>
        </div>
        <div class="option">
            <input type="radio" name="apply-method" id="apply-internal" value="internal" autocomplete="off" required>
            <label for="apply-internal">No</label>
        </div>
    </div>

    <div class="hidden" id="apply-external-fields">
        <div class="field">
            <label for="external-website">Website URL</label>
            <input name="external-website" id="external-website" type="url" placeholder="https://yourwebsite.com/apply">
        </div>
    </div>

    <div class="actions">
        <input class="btn btn-primary" type="submit" value="Add">
    </div>
</form>
<script src="/js/internship-program/internship/create.js"></script>
{% endblock %}