{% extends "shared/layout.html" %}

{% block title %}Professional Development Centre{% endblock %}

{% block header %}
{{ include ('shared/header.html') }}
{% endblock %}

{% block content %}

<div class="grid-row-2-1fr-2fr">
    <div class="text-center text-title h-100">
        Hello from Home
    </div>
    <div class="grid-col-3 justify-items-center">
        <a href="/techtalks">Go to TechTalks</a>
        <a href="/internships">Go to Internships</a>
        {% if "ROLE_ADMIN" in roles %}
        <a href="/users">Manage Users</a>
        {% endif %}
    </div>
</div>

{% endblock %}