{% extends "shared/layout-home.html" %}

{% block title %}Home{% endblock %}

{% block header %}
{{ include ("shared/header.html") }}
{% endblock %}

{% block content %}

<div class="hero-container">
    <div class="content hero">
        <div class="hero-text">
            <h2 class="hero-text-title">Professional Development Center</h2>
            <p class="hero-text-subtitle">Professional Development Center is a platform for students to learn and
                grow. We provide students
                with
                opportunities to learn new skills and gain experience.</p>
        </div>
        <div class="hero-image"></div>
    </div>
</div>
<section class="content">
    <div class="card-container">
        {% if has_role(Admin) %}
        <a class="card" href="/portal">Admin Portal</a>
        {% endif %}
        <a class="card" href="/techtalks">TechTalks</a>
        {% if has_permission('internship_program', 'read') %}
        <a class="card" href="/internship-program">Internship Program</a>
        {% endif %}
        <a class="card" href="/events">Events</a>
    </div>
</section>

{% endblock %}