{% extends "shared/layout.html" %}

{% block title %}Home{% endblock %}

{% block header %}
{{ include ("shared/header.html") }}
{% endblock %}

{% block content %}

<div>
    <div class="text-center text-title">
        Hello from Home
    </div>
    <div class="card-container justify-items-center">
        <a class="card" href="/techtalks">Go to TechTalks</a>
        <a class="card" href="/internships">Go to Internships</a>
        {% if "ROLE_ADMIN" in user_roles %}
        <a class="card" href="/users">Manage Users</a>
        {% endif %}
    </div>
</div>

{% endblock %}