{% extends "shared/layout.html" %}

{% block title %}Professional Development Centre{% endblock %}

{% block content %}

<div class="grid pt-100">
    <div class="text-title">
        Professional Development Centre at UCSC
    </div>
    <div class="grid pt-50">
        <div class="text-subtitle grid">Sign in</div>
        <div class="pt-25 w-300">
            <form action="/login" method="post">
                <div class="form-field">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="form-field">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="form-field-submit">
                    <input type="submit" value="Sign in">
                </div>
            </form>
            <div class="pt-30 text-center">Want to register with our Partner Program? <a href="/signup">Register</a></div>
        </div>
    </div>
</div>

{% endblock %}