{% extends "shared/layout.html" %}

{% block title %}Professional Development Centre{% endblock %}

{% block header %}
{{ include ('shared/header.html') }}
{% endblock %}

{% block content %}

<div class="grid pt-100">
    <div class="grid-row text-title">
        <div>
            Hello from TechTalks
        </div>
    </div>
    <div class="grid-row">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>
    </div>
    <div class="grid-row">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>
    </div>
</div>

{% endblock %}