{% extends "shared/layout.html" %}

{% block title %}TechTalks{% endblock %}

{% block header %}
{{ include ("shared/header.html") }}
{% endblock %}

{% block content %}

<div class="fs-1 fw-6 border-1 rounded-2 p-30 text-centre">Hello from TechTalks</div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>
<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>

{% endblock %}