{% extends "shared/layout.html" %}

{% block title %}TechTalks{% endblock %}

{% block header %}
{{ include ("shared/header.html") }}
{% endblock %}

{% block content %}

<div class="grid">
    <div class="text-title">
        Hello from TechTalks
    </div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, eveniet! Natus voluptatum </div>
</div>

{% endblock %}