{% extends "shared/layout-left-nav.html" %}

{% block title %}Create new user{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h4>Create new user</h4>
</div>

<section>
    <form action="/internship-program/users/create" method="POST">
        <div class="field-group">

            <input type="text" name="user-type" id="user-type-partner" value="partner" autocomplete="off" hidden>

            <div id="field-generic">
                <div class="field row">
                    An invitational email will be send to the following email to finish the account creation.
                </div>
                <div class="field row">
                    <label for="name">Email</label>
                    <input type="email" name="email" id="email" placeholder="user@mail.com" autocomplete="off" required>
                </div>

                <div class="field row">
                    <label for="first-name">First name</label>
                    <input type="text" name="first-name" id="first-name" placeholder="First name" autocomplete="off"
                        required>
                </div>
            </div>
        </div>

        <div class="actions">
            <input class="btn btn-primary" type="submit" value="Add">
        </div>
    </form>
</section>

{% endblock %}