{% extends "shared/layout-left-nav.html" %}

{% block title %}Documents{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="content">
    <div class="title">
        Documents
    </div>
    <div>
        {# {% if stateWhenInterningIsActive %} #}
        {% if 1 == 1 %}

        <div class="row-cols-2">
            <div>
                Upload Documents
            </div>
            <a class="btn btn-primary" role="button" href="">Add</a>
        </div>

        <div class="row-cols-2">
            <div>
                Internship Contracts
            </div>
            <a class="btn btn-primary" role="button" href="">View</a>
        </div>

        <div class="row-cols-2">
            <div>
                Monthly Progress Reports
            </div>
            <a class="btn btn-primary" role="button" href="">View</a>
        </div>

        <div class="row-cols-2">
            <div>
                Final Reports
            </div>
            <a class="btn btn-primary" role="button" href="">View</a>
        </div>

        <div class="row-cols-2">
            <div>
                Final Presentations
            </div>
            <a class="btn btn-primary" role="button" href="">View</a>
        </div>

        <div class="row-cols-2">
            <div>
                Service Letters
            </div>
            <a class="btn btn-primary" role="button" href="">View</a>
        </div>

        {% else %}
        <div>No internship cycle found to monitor.</div>
        {% endif %}
    </div>
</div>

{% endblock %}