{% extends "shared/left-nav-layout.html" %}

{% block title %}Feedback{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="content">
    <div class="title">
        Feedback
    </div>
    <div>

        {% if "ROLE_PARTNER" in user_roles %}
        <div class="row-cols-2">
            <div>
                Add your feedback about the student.
            </div>
            <a class="link" href="">
                <input type="button" value="Add">
            </a>
        </div>
        {% endif %}

        {% if "ROLE_STUDENT" in user_roles %}
        <div class="row-cols-2">
            <div>
                Add your feedback about the company.
            </div>
            <a class="link" href="">
                <input type="button" value="Add">
            </a>
        </div>
        {% endif %}

        {% if "ROLE_COORDINATOR" in user_roles %}
        <div class="row-cols-2">
            <div>
                View feedback about students.
            </div>
            <a class="link" href="">
                <input type="button" value="View">
            </a>
        </div>
        <div class="row-cols-2">
            <div>
                View feedback about partners.
            </div>
            <a class="link" href="">
                <input type="button" value="View">
            </a>
        </div>
        {% endif %}

    </div>
</div>

{% endblock %}