{% extends "shared/layout-left-nav.html" %}

{% block title %}Internship Program{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>
        Internship Program
    </h2>
    <p>
        Manage the internship program here. Create one or modify an existing internship cycle.
    </p>
</div>

{% if internshipCycle.endedAt is not null or internshipCycle is null %}
<div class="info-card">
    <a class="btn btn-primary" role="button" href="/internship-program/cycle/create">Create an internship cycle</a>
</div>
{% else %}
<div class="info-card">
    <a class="btn btn-outline-primary" role="button" href="/internship-program/cycle/end">End current internship
        cycle</a>
</div>
{% endif %}

<section>

    {% if internshipCycle.endedAt is not null or internshipCycle is null %}

    <p>There is no active internship cycle</p>

    {% else %}

    <div class="grid max-w-max grid-cols-3 xl-grid-cols-2 lg-grid-cols-1 col-gap-25 row-gap-25">

        <div class="card">
            <div class="flex items-center justify-between col-gap-30 mb-5">
                <h5 class="header">Job Collection</h5>
                <div class="flex items-start col-gap-5" id="job-collection-btn-container">
                    {% if internshipCycle.nextState == InternshipCycleState_JobCollection %}

                    <button type="button" class="btn btn-primary" id="start-job-collection-btn">Start</button>

                    {% elseif internshipCycle.activeState == InternshipCycleState_JobCollection %}

                    <button type="button" class="btn btn-secondary" id="undo-job-collection-btn">Undo</button>
                    <button type="button" class="btn btn-danger" id="end-job-collection-btn">End</button>

                    {% elseif internshipCycle.nextState == InternshipCycleState_Applying or
                    internshipCycle.activeState == InternshipCycleState_Applying %}

                    <button type="button" class="btn btn-outline-primary"
                        id="restart-job-collection-btn">Restart</button>

                    {% endif %}
                </div>
            </div>
            {% if internshipCycle.jobCollectionStart %}
            <p>
                Started on <span class="fw-semibold">{{ internshipCycle.jobCollectionStart.format('Y-m-d') }}</span>
            </p>
            {% endif %}
            {% if internshipCycle.jobCollectionEnd %}
            <p>
                Ended on <span class="fw-semibold">{{ internshipCycle.jobCollectionEnd.format('Y-m-d') }}</span>
            </p>
            {% endif %}
        </div>

        <div class="card">
            <h5 class="header mb-3">Job Searching - Round 1</h5>
            <div class="flex items-start col-gap-5 mb-3" id="js-r1-btn-container">
                <button type="button" class="btn btn-outline-primary" id="start-js-r1-btn">Start</button>

                <button type="button" class="btn btn-secondary" id="undo-js-r1-btn">Undo</button>
                <button type="button" class="btn btn-outline-danger" id="end-js-r1-btn">End</button>

                <button type="button" class="btn btn-outline-primary" id="restart-js-r1-btn">Restart</button>
            </div>
            <p>
                Started on <span class="fw-semibold">{{ internshipCycle.interningStart.format('Y-m-d') }}</span>
            </p>
            <p>
                Ended on <span class="fw-semibold">{{ internshipCycle.interningEnd.format('Y-m-d') }}</span>
            </p>
        </div>

        <div class="card">
            <h5 class="header mb-3">Job Searching - Round 2</h5>
            <div class="flex items-start col-gap-5 mb-3" id="js-r2-btn-container">
                <button type="button" class="btn btn-outline-primary" id="start-js-r2-btn">Start</button>

                <button type="button" class="btn btn-secondary" id="undo-js-r2-btn">Undo</button>
                <button type="button" class="btn btn-outline-danger" id="end-js-r2-btn">End</button>

                <button type="button" class="btn btn-outline-primary" id="restart-js-r2-btn">Restart</button>
            </div>
            <p>
                Started on <span class="fw-semibold">{{ internshipCycle.interningStart.format('Y-m-d') }}</span>
            </p>
            <p>
                Ended on <span class="fw-semibold">{{ internshipCycle.interningEnd.format('Y-m-d') }}</span>
            </p>
        </div>
    </div>

    {% endif %}

</section>
<script src="/js/internship-program/home-admin.js"></script>
{% endblock %}