{% extends "shared/layout-left-nav.html" %}

{% block title %}Internship Program{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>
        Internship Program
    </h2>
    <p>
        Manage the internship program here. Create one or modify an existing internship cycle.
    </p>
</div>

{% if internshipCycle.endedAt is not null or internshipCycle is null %}
<div class="info-card">
    <a class="btn btn-primary" role="button" href="/internship-program/cycle/create">Create an internship cycle</a>
</div>
{% else %}
<div class="info-card">
    <a class="btn btn-outline-primary" role="button" href="/internship-program/cycle/end">End current internship
        cycle</a>
</div>
{% endif %}

<section>

    {% if internshipCycle.endedAt is not null or internshipCycle is null %}

    <p>There is no active internship cycle</p>

    {% else %}

    <div class="grid max-w-max grid-cols-3 xl-grid-cols-2 lg-grid-cols-1 col-gap-25 row-gap-25">

        <div class="card">
            <h5 class="header mb-3">Job Collection</h5>
            <div class="flex items-start col-gap-5 mb-3" id="job-collection-btn-container">
                {% if internshipCycle.jobCollectionStart is null %}
                <button type="button" class="btn btn-outline-primary" id="start-job-collection-btn">Start</button>
                {% elseif internshipCycle.jobCollectionEnd is null %}
                <button type="button" class="btn btn-outline-danger" id="end-job-collection-btn">End</button>
                {% else %}
                <button type="button" class="btn btn-outline-primary" id="restart-job-collection-btn">Restart</button>
                {% endif %}
            </div>
            {% if internshipCycle.jobCollectionStart %}
            <p>
                Started on <span class="fw-semibold">{{ internshipCycle.jobCollectionStart.format('Y-m-d') }}</span>
            </p>
            {% endif %}
            {% if internshipCycle.jobCollectionEnd %}
            <p>
                Ended on <span class="fw-semibold">{{ internshipCycle.jobCollectionEnd.format('Y-m-d') }}</span>
            </p>
            {% endif %}
        </div>

        <div class="card">
            <h5 class="header mb-3">Job Searching - Round 1</h5>
            <div class="flex items-start col-gap-5 mb-3" id="js-r1-btn-container">
                {% if internshipCycle.jobHuntRound1Start is null %}
                <button type="button" class="btn btn-outline-primary" id="start-js-r1-btn">Start</button>
                {% elseif internshipCycle.jobHuntRound1End is null %}
                <button type="button" class="btn btn-outline-danger" id="end-js-r1-btn">End</button>
                {% else %}
                <button type="button" class="btn btn-outline-primary" id="restart-js-r1-btn">Restart</button>
                {% endif %}
            </div>
            {% if internshipCycle.jobHuntRound1Start %}
            <p>
                Started on <span class="fw-semibold">{{ internshipCycle.jobHuntRound1Start.format('Y-m-d') }}</span>
            </p>
            {% endif %}
            {% if internshipCycle.jobHuntRound1End %}
            <p>
                Ended on <span class="fw-semibold">{{ internshipCycle.jobHuntRound1End.format('Y-m-d') }}</span>
            </p>
            {% endif %}
        </div>

        <div class="card">
            <h5 class="header mb-3">Job Searching - Round 2</h5>
            <div class="flex items-start col-gap-5 mb-3" id="js-r2-btn-container">
                {% if internshipCycle.jobHuntRound2Start is null %}
                <button type="button" class="btn btn-outline-primary" id="start-js-r2-btn">Start</button>
                {% elseif internshipCycle.jobHuntRound2End is null %}
                <button type="button" class="btn btn-outline-danger" id="end-js-r2-btn">End</button>
                {% else %}
                <button type="button" class="btn btn-outline-primary" id="restart-js-r2-btn">Restart</button>
                {% endif %}
            </div>
            {% if internshipCycle.jobHuntRound2Start %}
            <p>
                Started on <span class="fw-semibold">{{ internshipCycle.jobHuntRound2Start.format('Y-m-d') }}</span>
            </p>
            {% endif %}
            {% if internshipCycle.jobHuntRound2End %}
            <p>
                Ended on <span class="fw-semibold">{{ internshipCycle.jobHuntRound2End.format('Y-m-d') }}</span>
            </p>
            {% endif %}
        </div>
    </div>

    {% endif %}

</section>
<script src="/js/internship-program/home-admin.js"></script>
{% endblock %}