{% extends "shared/layout-left-nav.html" %}

{% block title %}Internship Program{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>
        Internship Program
    </h2>
    <p>
        Subtitle here.
    </p>
</div>

{% if has_permission('internship', 'create') %}
<div class="info-card">
    <p>Create an internship post.</p>
    <a class="btn btn-primary" role="button" href="/internship-program/internships/create">Post an internship</a>
</div>
{% endif %}

<section>
    <div class="title">
        <h5>Important notices</h5>
    </div>

</section>

{% endblock %}