{% extends "shared/layout-left-nav.html" %}

{% block title %}Internships{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="list-view">
    <div class="filters">
        <div class="title">
            <i class="i i-filter"></i>
            Filter
        </div>

        <div class="search">
            <i class="i i-search"></i>
            <input id="search-query" class="search" type="text" placeholder="Search" autocomplete="off">
            <button id="search-btn" class="btn" type="button">Search</button>
        </div>

        {% if ("ROLE_ADMIN" in user_roles) or ("ROLE_STUDENT" in user_roles) %}
        <div class="item" id="filter-by-company">
            Company
            <i class="i i-chevron-down"></i>
        </div>
        {% endif %}

        {# {% if ("ROLE_ADMIN" in user_roles) or ("ROLE_PARTNER" in user_roles) %}
        <div class="item">
            Status
            <i class="i i-chevron-down"></i>
        </div>
        {% endif %} #}
    </div>

    {% if internships|length == 0 %}

    <div class="grid h-1/3 items-end text-centre">
        <h5 class="fw-semibold">Nothing found</h5>
        {% if "ROLE_INTERNSHIP_STUDENT" in user_roles %}
        <div class="description">Modify the search term or adjust the filters and try again.</div>
        {% endif %}
    </div>

    {% else %}

    <div class="content-container">
        <div class="item-list-container" id="job-list">
            <div class="item-list">
                {% for i in internships %}
                <div class="item-card" data-job-id="{{ i.internship.id }}">
                    {% if i.organizationLogo is null %}
                    <div class="item-card-logo placeholder">
                        <i class="i i-buildings"></i>
                    </div>
                    {% else %}
                    <img class="item-card-logo" src="{{ i.organizationLogo }}" alt="{{ i.organizationName }} logo">
                    {% endif %}
                    <div class="item-card-text">
                        <div class="title">{{ i.internship.title }}</div>
                        <div>{{ i.organizationName }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="item-details" id="job-details">
            <div class="skeleton" id="job-details-skeleton">
                <div class="skeleton-header"></div>
                <div class="skeleton-header last"></div>
                <div class="skeleton-body">
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                </div>
                <div class="skeleton-body">
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                </div>
            </div>
            <div class="content hidden" id="job-details-content">
                <h3 class="title" id="job-title"></h3>
                <div class="actions">
                    {% if ("ROLE_PARTNER" in user_roles) or ("ROLE_ADMIN" in user_roles) %}
                    <button type="button" class="btn" id="applicants-job-btn">Applicants</button>
                    <button type="button" class="btn" id="modify-job-btn">Modify</button>
                    <button type="button" class="btn" id="remove-job-btn">Remove</button>
                    {% endif %}

                    {% if "ROLE_STUDENT" in user_roles %}
                    <button type="button" class="btn">Apply</button>
                    {% endif %}
                </div>
                <div class="job-description-container">
                    <h5 class="title">About the internship</h5>
                    <div class="formatted-text-area" id="job-description"></div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}

    <div class="pop-up-multi-select-list hidden" id="company-multi-select-list">
        <h4>Companies</h4>
        <ul>
            {% for i in organizations %}
            <li>
                <input type="checkbox" name="{{ i.name }}" id="{{ i.id }}">
                <label for="{{ i.id }}">{{ i.name }}</label>
            </li>
            {% endfor %}
        </ul>
        <div class="actions">
            <button type="button" class="btn" id="company-multi-select-list-apply-btn">Apply</button>
            <button type="button" class="btn btn-secondary" id="company-multi-select-list-reset-btn">Reset</button>
            <button type="button" class="btn btn-secondary" id="company-multi-select-list-hide-btn">Hide</button>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="/js/internships.js" type="text/javascript"></script>
{% endblock js %}