{% extends "shared/layout-left-nav.html" %}

{% block title %}Internships{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="list-view">
    <div class="filters">
        <div class="title">
            <i class="i i-filter"></i>
            Filter
        </div>

        <div class="search">
            <i class="i i-search"></i>
            <input id="search-query" class="search" type="text" placeholder="Search" autocomplete="off">
            <button id="search-btn" class="btn" type="button">Search</button>
        </div>

        {% if ("ROLE_ADMIN" in user_roles) or ("ROLE_STUDENT" in user_roles) %}
        <div class="item">
            Company
            <i class="i i-chevron-down"></i>
        </div>
        {% endif %}

        {% if ("ROLE_ADMIN" in user_roles) or ("ROLE_PARTNER" in user_roles) %}
        <div class="item">
            Status
            <i class="i i-chevron-down"></i>
        </div>
        {% endif %}
    </div>
    <div class="content-container">
        <div class="item-list" id="job-list">
            {% for item in internships %}
            <div class="item-card" data-job-id="{{ item.id }}">
                <div class="title">{{ item.title }}</div>
                <div>{{item.firstName}}</div>
            </div>
            {% endfor %}
        </div>
        <div class="item-details" id="job-details">
            <div class="skeleton" id="job-details-skeleton">
                <div class="skeleton-header"></div>
                <div class="skeleton-header last"></div>
                <div class="skeleton-body">
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                </div>
                <div class="skeleton-body">
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                </div>
            </div>
            <div class="content hidden" id="job-details-content">
                <h3 class="title" id="job-title"></h3>
                <div class="actions">
                    {% if ("ROLE_PARTNER" in user_roles) or ("ROLE_ADMIN" in user_roles) %}
                    <button type="button" class="btn" id="applicants-job-btn">Applicants</button>
                    <button type="button" class="btn" id="modify-job-btn">Modify</button>
                    <button type="button" class="btn" id="remove-job-btn">Remove</button>
                    {% endif %}

                    {% if "ROLE_STUDENT" in user_roles %}
                    <button type="button" class="btn">Apply</button>
                    {% endif %}
                </div>
                <div class="job-description-container">
                    <h5 class="title">About the internship</h5>
                    <div class="formatted-text-area" id="job-description"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="/js/internships.js" type="text/javascript"></script>
{% endblock js %}