<a class="nav-link {% if section == 'home' %} active{% endif %}" href="/internship-program">
    Internship Program
</a>

{% if has_role(InternshipProgram_Admin) %}
<a class="nav-link {% if section == 'internships' %} active{% endif %}" href="/internship-program/internships">
    Internships
</a>
{% elseif has_role(InternshipProgram_Partner) and has_permission('internship', 'create') %}
<a class="nav-link {% if section == 'internships' %} active{% endif %}" href="/internship-program/internships">
    Your Internships
</a>
{% elseif has_role(InternshipProgram_Student) %}
<a class="nav-link {% if section == 'internships' %} active{% endif %}" href="/internship-program/internships">
    Apply for Internships
</a>
{% endif %}

<a class="nav-link {% if section == 'requirements' %} active{% endif %}" href="/internship-program/requirements">
    Requirements
</a>

{% if has_role(InternshipProgram_Admin) %}
<a class="nav-link {% if section == 'monitoring' %} active{% endif %}" href="/internship-program/monitoring">
    Monitoring
</a>
{% endif %}