{% extends "shared/layout-left-nav.html" %}

{% if internship %}
{% set title = 'Applications for \'' ~ internship.title ~ '\'' %}
{% else %}
{% set title = 'All Applications' %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h4>{{ title }}</h4>
</div>

<div id="grid-applications"></div>

{% if has_role(InternshipProgramAdmin) %}
<script src="/js/internship-program/applicants/applications-admin.js"></script>
{% else %}
<script src="/js/internship-program/applicants/applications.js"></script>
{% endif %}

{% endblock %}