{% extends "shared/layout-left-nav.html" %}

{% block title %}Create an Event{% endblock %}

{% block left_nav %}
{% include "events/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h4>
        Create an event
    </h4>
</div>
<form action="/events/create" method="get">
    <div class="field">
        <label for="eventTitle">Event Title</label>
        <input type="text" id="eventTitle" name="eventTitle" required>
    </div>
    <div class="field">
        <label for="startTime">Start Time</label>
        <input type="datetime-local" id="startTime" name="startTime" required>
    </div>
    <div class="field">
        <label for="endTime">End Time</label>
        <input type="datetime-local" id="endTime" name="endTime" required>
    </div>
    <div class="field">
        <label for="eventLocation">Event Location</label>
        <input type="text" id="eventLocation" name="eventLocation" required>
    </div>

    <div class="field">
        <label for="description">Event Description</label>
        <div class="text-editor-container">
            <input type="hidden" name="description" id="description" placeholder="Put your description here.">
            <div class="text-editor"></div>
        </div>
    </div>

    <div class="actions">
        <input class="btn btn-primary" type="submit" value="Schedule Event">
    </div>
</form>
<script src="/js/events/create.js"></script>

{% endblock %}