{% extends "shared/left-nav-layout.html" %}

{% block title %}Create an Event{% endblock %}

{% block left_nav %}
{% include "events/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="content">
    <div class="title">
        Create an event
    </div>
    <form action="/events/create" method="POST">
        <div class="field">
            <label for="title">Event Title:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div class="field">
            <label for="description">Event Description</label>
            {% include "shared/textarea.html" with {
            "name": "description",
            "maxlength": "2000",
            "placeholder": "Put your description here."
            } %}
        </div>
        <div class="actions">
            <input type="submit" value="Create">
        </div>
    </form>
</div>
</div>

{% endblock %}