{% extends "shared/layout-left-nav.html" %}

{% block title %}Events{% endblock %}

{% block left_nav %}
{% include "events/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="layout-job-search">
    <div class="filters">
        <div class="search">
            <i class="i i-search"></i>
            <input id="search-query" class="search" type="text" placeholder="Search" autocomplete="off">
            <button id="search-btn" class="btn btn-primary" type="button">Search</button>
        </div>

    </div>

    {% if events|length == 0 %}

    <div class="grid h-1/2 items-center text-center">
        <div>
            <h5 class="fw-semibold">Nothing found</h5>
            <div class="description">Modify the search term or adjust the filters and try again.</div>
        </div>
    </div>

    {% else %}

    <div class="container">
        <div>
            <div class="job-list-container" id="event-list">
                <div class="job-list">
                    {% for i in events %}
                    <div class="job" data-event-id="{{i.id}}">
                        <div class="job-text">
                            <div class="title">{{i.title}}</div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="job-details" id="event-details">
            <div class="skeleton" id="event-details-skeleton">
                <div class="skeleton-header"></div>
                <div class="skeleton-header last"></div>
                <div class="skeleton-body">
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                </div>
                <div class="skeleton-body">
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                </div>
                <div class="skeleton-body">
                    <div class="skeleton-line"></div>
                    <div class="skeleton-line"></div>
                </div>
            </div>
            <div class="content hidden" id="event-details-content">
                <div class="header">
                    <h3 class="title" id="event-title"></h3>
                    <div class="company" id="event-company">
                        Event
                    </div>
                    <div class="actions">
                        {% if has_role('InternshipProgramAdmin') %}
                        <button type="button" class="btn btn-outline-primary" id="modify-event-btn">Modify</button>
                        {% endif %}

                        {% if has_role('InternshipProgramAdmin') %}
                        <button type="button" class="btn btn-outline-danger" id="remove-event-btn">Remove</button>
                        {% endif %}
                    </div>
                </div>
                <div class="section collapse-container">
                    <div class="collapse-header">
                        <h5 class="title">Location</h5>
                    </div>
                    <div class="collapse-content formatted-text-area" id="event-location"></div>
                </div>
                <div class="section collapse-container">
                    <div class="collapse-header">
                        <h5 class="title">Event Starts</h5>
                    </div>
                    <div class="collapse-content formatted-text-area" id="event-startTime"></div>
                </div>
                <div class="section collapse-container">
                    <div class="collapse-header">
                        <h5 class="title">Event Ends</h5>
                    </div>
                    <div class="collapse-content formatted-text-area" id="event-endTime"></div>
                </div>
                <div class="section collapse-container">
                    <div class="collapse-header">
                        <h5 class="title">About the Event</h5>
                    </div>
                    <div class="collapse-content formatted-text-area" id="event-description"></div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}



    <script src="/js/events/eventlist.js" type="text/javascript"></script>

    {% endblock %}