{% extends "shared/left-nav-layout.html" %}

{% block title %}Events{% endblock %}

{% block left_nav %}
{% include "events/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="content">
    <div class="title">
        Events
    </div>
    {% for event in events %}
    <div class="p-40 pb-20 mb-10 border-1 rounded-2">
        <div class="fw-6 fs-4 pl-15 pb-20">
            {{ event.title}}
        </div>
        <div>
            {{ event.description}}
        </div>
        {% if "ROLE_COORDINATOR" in user_roles %}
        <div class="actions">
            <a href="/events/{{ event.id }}/delete">
                <input type="button" value="Remove">
            </a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}