@mixin grid {
    display: grid;

    &-cols {
        @for $i from 1 through 12 {
            &-#{$i} {
                grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
            }
        }

        &-none {
            grid-template-columns: none;
        }
    }

    &-rows {
        @for $i from 1 through 6 {
            &-#{$i} {
                grid-template-rows: repeat(#{$i}, minmax(0, 1fr));
            }
        }

        &-none {
            grid-template-rows: none;
        }
    }

    &-flow {
        &-row {
            grid-auto-flow: row;
        }

        &-col {
            grid-auto-flow: column;
        }

        &-dense {
            grid-auto-flow: dense;
        }

        &-row-dense {
            grid-auto-flow: row dense;
        }

        &-col-dense {
            grid-auto-flow: column dense;
        }
    }
}

@mixin col {
    &-auto {
        grid-column: auto;
    }

    &-span {
        @for $i from 1 through 12 {
            &-#{$i} {
                grid-column: span #{$i} / span #{$i};
            }
        }

        &-full {
            grid-column: 1 / -1;
        }
    }

    &-start {
        @for $i from 1 through 13 {
            &-#{$i} {
                grid-column-start: #{$i};
            }
        }

        &-auto {
            grid-column-start: auto;
        }
    }

    &-end {
        @for $i from 1 through 13 {
            &-#{$i} {
                grid-column-end: #{$i};
            }
        }

        &-auto {
            grid-column-end: auto;
        }
    }

    &-gap {
        @for $i from 1 through 10 {
            &-#{$i * 5} {
                column-gap: #{$i * 5}px;
            }
        }
    }
}

@mixin row {
    &-auto {
        grid-row: auto;
    }

    &-span {
        @for $i from 1 through 6 {
            &-#{$i} {
                grid-row: span #{$i} / span #{$i};
            }
        }

        &-full {
            grid-row: 1 / -1;
        }
    }

    &-start {
        @for $i from 1 through 7 {
            &-#{$i} {
                grid-row-start: #{$i};
            }
        }

        &-auto {
            grid-row-start: auto;
        }
    }

    &-end {
        @for $i from 1 through 7 {
            &-#{$i} {
                grid-row-end: #{$i};
            }
        }

        &-auto {
            grid-row-end: auto;
        }
    }

    &-gap {
        @for $i from 1 through 10 {
            &-#{$i * 5} {
                row-gap: #{$i * 5}px;
            }
        }
    }
}