@use '../variables' as *;

@mixin margin {
    @for $i from 0 through 10 {
        &-#{$i * 5} {
            margin: #{$i * 5}px !important;
        }
    }

    &-auto {
        margin: auto !important;
    }

    &t {
        @for $i from 0 through 10 {
            &-#{$i * 5} {
                margin-top: #{$i * 5}px !important;
            }
        }

        &-auto {
            margin-top: auto !important;
        }
    }

    &b {
        @for $i from 0 through 10 {
            &-#{$i * 5} {
                margin-bottom: #{$i * 5}px !important;
            }
        }

        &-auto {
            margin-bottom: auto !important;
        }
    }

    &l {
        @for $i from 0 through 10 {
            &-#{$i * 5} {
                margin-left: #{$i * 5}px !important;
            }
        }

        &-auto {
            margin-left: auto !important;
        }
    }

    &r {
        @for $i from 0 through 10 {
            &-#{$i * 5} {
                margin-right: #{$i * 5}px !important;
            }
        }

        &-auto {
            margin-right: auto !important;
        }
    }

    &x {
        @for $i from 0 through 10 {
            &-#{$i * 5} {
                margin-left: #{$i * 5}px !important;
                margin-right: #{$i * 5}px !important;
            }
        }

        &-auto {
            margin-left: auto !important;
            margin-right: auto !important;
        }
    }

    &y {
        @for $i from 0 through 10 {
            &-#{$i * 5} {
                margin-top: #{$i * 5}px !important;
                margin-bottom: #{$i * 5}px !important;
            }
        }
    }
}

@mixin padding {
    @each $key, $value in $padding-sizes {

        // All sides
        &-#{$key} {
            padding: $value;
        }

        // Top
        &t-#{$key} {
            padding-top: $value;
        }

        // Right
        &r-#{$key} {
            padding-right: $value;
        }

        // Bottom
        &b-#{$key} {
            padding-bottom: $value;
        }

        // Left
        &l-#{$key} {
            padding-left: $value;
        }

        // X-axis (left and right)
        &x-#{$key} {
            padding-left: $value;
            padding-right: $value;
        }

        // Y-axis (top and bottom)
        &y-#{$key} {
            padding-top: $value;
            padding-bottom: $value;
        }
    }
}