{% extends "shared/layout.html" %}

{% block title %}Internship Program{% endblock %}

{% block content %}

<div class="nav-layout">
    {{ include("internships/cycle/sidebar.html") }}
    <div class="page-content">
        <form>
            <div class="mb-40">
                <div class="fs-6 fw-6 pb-20">Internship Gathering Phase</div>
                <div class="grid grid-cols-4 align-items-baseline px-20 py-10 border-1 rounded-1 mb-5">
                    <div class="col-span-3">Start date</div>
                    <input type="date" required>
                </div>
                <div class="grid grid-cols-4 align-items-baseline px-20 py-10 border-1 rounded-1 mb-5">
                    <div class="col-span-3">End date</div>
                    <input type="date" required>
                </div>
                <div class="grid grid-cols-4 align-items-baseline px-20 pt-10 pb-15 border-1 rounded-1 mb-5">
                    <div class="col-span-3">Automatically send emails to partners when the start date is reached.</div>
                    <div class="checkbox text-right">
                        <input type="checkbox" id="check1">
                    </div>
                </div>
            </div>
            <div class="mb-20">
                <div class="fs-6 fw-6 pb-20">Internship Phase</div>
                <div class="grid grid-cols-4 align-items-baseline px-20 py-10 border-1 rounded-1 mb-5">
                    <div class="col-span-3">Start date</div>
                    <input type="date" required>
                </div>
                <div class="grid grid-cols-4 align-items-baseline px-20 py-10 border-1 rounded-1 mb-5">
                    <div class="col-span-3">End date</div>
                    <input type="date" required>
                </div>
                <div class="grid grid-cols-4 align-items-baseline px-20 py-10 border-1 rounded-1 mb-5">
                    <div class="col-span-3">Automatically send emails to Undergraduates when the start date is reached.
                    </div>
                    <div class="checkbox text-right">
                        <input type="checkbox" id="check1">
                    </div>
                </div>
            </div>
            <div class="mb-20">
                <div class="text-right mt-25">
                    <input type="submit" value="Confirm">
                    <input type="reset" value="Reset">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}