{% extends "shared/layout.html" %}

{% block title %}Internship Program{% endblock %}

{% block content %}

<div class="nav-layout">
    {{ include("internships/cycle/sidebar.html") }}
    <div class="page-content">
        <div class="page-title">Internship Cycle</div>
        <div class="row-cols-2">
            <div>
                Current Internship Cycle
            </div>
            <div class="text-centre">Not Found</div>
        </div>
        <div class="row-cols-2">
            <div>
                Create new internship cycle
            </div>
            <a class="link" href="cycle/create">
                <input type="button" value="Create">
            </a>
        </div>
        <div class="row-cols-2">
            <div>
                View current internship cycle
            </div>
            <a class="link" href="cycle/details">
                <input type="button" value="View">
            </a>
        </div>
    </div>
</div>

{% endblock %}