{% extends "shared/layout.html" %}

{% block title %}Internship Program{% endblock %}

{% block header %}
{{ include ("shared/header.html") }}
{% endblock %}

{% block content %}

<div class="nav-layout">
    {{ include("internships/cycle/sidebar.html") }}
    <div class="page-content">
        <div class="page-title">Documents</div>
        <div class="row-cols-2">
            <div>
                Upload Documents
            </div>
            <a class="link" href="documents">
                <input type="button" value="Add">
            </a>
        </div>
    </div>
</div>

{% endblock %}