{% extends "shared/layout.html" %}

{% block title %}Internship Program{% endblock %}

{% block header %}
{{ include ("shared/header.html") }}
{% endblock %}

{% block content %}

<div class="nav-layout">
    {{ include("internships/cycle/sidebar.html") }}
    <div class="page-content">
        {% if internship_cycle_status == "active" %}
        <div class="row-cols-2">
            <div>
                Internship Contracts
            </div>
            <a class="link" href="monitoring/contracts">
                <input type="button" value="View">
            </a>
        </div>

        <div class="row-cols-2">
            <div>
                Monthly Progress Reports
            </div>
            <a class="link" href="monitoring/progress-report">
                <input type="button" value="View">
            </a>
        </div>

        <div class="row-cols-2">
            <div>
                Feedback about Students
            </div>
            <a class="link" href="monitoring/feedback">
                <input type="button" value="View">
            </a>
        </div>

        <div class="row-cols-2">
            <div>
                Feedback about Companies
            </div>
            <a class="link" href="monitoring/feedback">
                <input type="button" value="View">
            </a>
        </div>

        <div class="row-cols-2">
            <div>
                Final Reports
            </div>
            <a class="link" href="monitoring/feedback">
                <input type="button" value="View">
            </a>
        </div>

        <div class="row-cols-2">
            <div>
                Final Presentations
            </div>
            <a class="link" href="monitoring/feedback">
                <input type="button" value="View">
            </a>
        </div>

        <div class="row-cols-2">
            <div>
                Service Letters
            </div>
            <a class="link" href="monitoring/feedback">
                <input type="button" value="View">
            </a>
        </div>
        {% else %}
        <div class="grid fs-6 fw-6 text-centre">There is no internship cycle to monitor.</div>
        {% endif %}
    </div>
</div>

{% endblock %}