{% extends "authentication/layout.html" %}

{% block title %}Confirm Your Details{% endblock %}

{% block content %}

<h4>Complete your signup</h4>
<div class="form-wrapper">
    <form action="/signup/activate" method="post">
        <div class="field">
            <label for="first-name">First name</label>
            <input type="text" name="first-name" id="first-name" autocomplete="first-name" required>
        </div>
        <div class="field">
            <label for="first-name">Last name</label>
            <input type="text" name="last-name" id="last-name" autocomplete="last-name" required>
        </div>
        <div class="field">
            <label for="email">Email address</label>
            <input type="email" name="email" id="email" autocomplete="email" required>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" autocomplete="new-password" required>
        </div>
        <div class="field">
            <label for="confirm-password">Confirm password</label>
            <input type="password" name="confirm-password" id="confirm-password" autocomplete="new-password" required>
        </div>
        <input type="hidden" name="token" value="{{ token }}">
        <div class="actions">
            <input class="btn" type="submit" value="Submit">
        </div>
    </form>
    <div class="pt-50 text-center">Already have an account? <a class="link" href="/">Sign in</a></div>
</div>

{% endblock %}