<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="wrapper">
        <div></div>
        <div class="content mx-auto md-px-50">
            <div class="mt-50">
                <div class="sm-mb-50">
                    <div class="text-centre">Image</div>
                    <div class="fs-2 p-20 text-centre">
                        Professional Development Centre at UCSC
                    </div>
                </div>
                <div class="sm-bs-3 br-10 p-25 sm-p-50 max-w-80 mx-auto">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="footer-bg">
            <div class="footer mx-auto xxl-max-w px-20 md-px-50">
                <div>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </div>
            </div>
        </div>
    </div>
</body>

</html>