{% extends "authentication/layout.html" %}

{% block title %}Become a Partner{% endblock %}

{% block content %}

<h4>Apply for the Partner Program</h4>
<div class="form-wrapper">
    <form action="/register" method="post">
        <div class="field">
            <label for="firstname">First name</label>
            <input type="text" name="firstname" id="firstname" required>
        </div>
        <div class="field">
            <label for="lastname">Last name</label>
            <input type="text" name="lastname" id="lastname" required>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" autocomplete="email" required>
        </div>
        <div class="actions">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </div>
    </form>
    <div class="pt-50 text-centre">Already have an account? <a class="link" href="/">Sign in</a></div>
</div>

{% endblock %}