{% extends "authentication/layout.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

<div class="title">Create an account</div>
<div class="form-wrapper">
    <form action="/signup/details" method="post">
        <div class="field">
            <label for="reg-number">Your Registration Number</label>
            <input type="text" name="reg-number" id="reg-number" required>
        </div>
        <div class="text-right mt-30">
            <input type="submit" value="Next">
        </div>
    </form>
    <div class="pt-50 text-centre">Already have an account? <a class="link" href="/">Sign in</a></div>
</div>

{% endblock %}