{% extends "authentication/layout.html" %}

{% block title %}Professional Development Center{% endblock %}

{% block content %}

<h4>Sign in</h4>
<div class="form-wrapper">
    <form action="/login?redirect={{ redirect }}" method="post">
        {% for message in app.session.flashbag.get("signin_error") %}
        <div class="alert alert-error">
            {{ message }}
        </div>
        {% endfor %}
        <div class="field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" autocomplete="email" required>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" autocomplete="current-password" required>
        </div>
        <div class="actions">
            <input class="btn btn-primary" type="submit" value="Sign in">
        </div>
    </form>
    <div class="pt-10 text-center">Don't have an account?
        <div>
            <a class="link" href="/signup">Create one!</a>
        </div>
    </div>
    <div class="pt-7 text-center">Want to register with our Partner Program? <a class="link" href="/register">Click
            here!</a></div>
</div>

{% endblock %}