{% extends "shared/layout.html" %}

{% block title %}Professional Development Centre{% endblock %}

{% block content %}

<div class="grid-row container-signin">
    <div class="pt-100">
        <div class="text-center">Image</div>
        <div class="text-subtitle text-center">
            Professional Development Centre at UCSC
        </div>
    </div>
    <div class="grid justify-items-center pt-50">
        <div class="text-subtitle text-center">Create an account</div>
        <div class="pt-25 w-300">
            <form action="/signup/details" method="post">
                <div class="form-field">
                    <label for="reg-number">Your Registration Number</label>
                    <input type="text" name="reg-number" id="reg-number" required>
                </div>
                <div class="form-field-submit">
                    <input type="submit" value="Next">
                </div>
            </form>
            <div class="py-50 text-center">Already have an account? <a href="/">Sign in</a></div>
        </div>
    </div>
</div>

{% endblock %}