{% extends "authentication/layout.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

<h4>Create an account</h4>
<div class="form-wrapper signup">
    <form action="/signup" method="POST">
        <div class="field">
            <label for="student-email">Enter your student email address</label>
            <div class="flex items-baseline">
                <input type="text" name="student-email" id="student-email" required>
                <span class="pl-15">@stu.ucsc.cmb.ac.lk</span>
            </div>
        </div>
        <div class="actions">
            <input class="btn" type="submit" value="Next">
        </div>
    </form>
    <div class="pt-50 text-center">Already have an account? <a class="link" href="/">Sign in</a></div>
</div>

{% endblock %}