{% extends "authentication/layout.html" %}

{% block title %}Confirm Your Details{% endblock %}

{% block content %}

<div class="grid p-50 bs-2 br-10">
    <div class="fs-3 fw-6 pb-10">Confirm Your Details</div>
    <div class="w-300 mt-20">
        <form action="/signup/submit" method="post">
            <div class="field">
                <label for="name">Preferred Name</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="field">
                <label for="email">The email address you prefer to receive notifications</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="field">
                <label for="repassword">Re-enter Password</label>
                <input type="password" name="repassword" id="repassword" required>
            </div>
            <div class="text-right mt-30">
                <input type="submit" value="Submit">
            </div>
        </form>
        <div class="pt-50 text-centre">Already have an account? <a class="link" href="/">Sign in</a></div>
    </div>
</div>

{% endblock %}