{% extends "shared/layout-left-nav.html" %}

{% block title %}Groups{% endblock %}

{% block left_nav %}
{% include "portal/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>Groups</h2>
    <p>All groups</p>
</div>

<div class="command-bar">
    <a class="btn btn-regular btn-icon" href="/portal/groups/create">
        <i class="i i-plus-lg"></i>
        New group
    </a>
    <span class="spacer"></span>
    <a class="btn btn-regular btn-icon" href="">
        <i class="i i-people"></i>
        <span>Add users</span>
    </a>
    <a class="btn btn-regular btn-icon" href="">
        <i class="i i-person-bounding-box"></i>
        <span>Assign roles</span>
    </a>
    <span class="spacer"></span>
    <a class="btn btn-regular btn-icon" href="">
        <i class="i i-trash"></i>
        <span>Delete</span>
    </a>
</div>
<section>
    <p class="fs-small mb-10">{{ groups|length }} groups found.</p>
    <table class="table border-0 table-hover table-compact rows-selectable">
        <colgroup>
            <col class="w-10">
            <col class="w-4-12">
            <col class="w-5-12">
            <col class="w-3-12">
        </colgroup>
        <thead>
            <tr>
                <th><input type="checkbox" id="all"></th>
                <th>Group name</th>
                <th>Assigned roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-rows-clickable">
            {% for i in groups %}
            <tr data-href="groups?g={{ i.id }}">
                <td><input type="checkbox" id="{{ i.id }}"></td>
                <td>{{ i.name }}</td>
                <td>{{ i.role }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<script>
    table.makeRowsClickable(".table-rows-clickable");
</script>

{% endblock %}