{% extends "shared/layout-left-nav.html" %}

{% block title %}Groups{% endblock %}

{% block left_nav %}
{% include "portal/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>Groups</h2>
    <p>All groups</p>
</div>

<div class="command-bar">
    <a class="btn btn-regular" href="/portal/groups/create">
        <i class="i i-plus-lg"></i>
        <span>New group</span>
    </a>
    <span class="spacer"></span>
    <a class="btn btn-regular" href="">
        <i class="i i-trash"></i>
        <span>Delete</span>
    </a>
</div>
<section>
    <p class="fs-small mb-3">{{ groups|length }} groups found.</p>
    <table class="table border-0 table-hover table-compact rows-selectable">
        <colgroup>
            <col class="w-10">
            <col class="w-4/12">
            <col class="w-5/12">
            <col class="w-3/12">
        </colgroup>
        <thead>
            <tr>
                <th><input type="checkbox" title="Select All"></th>
                <th>Group name</th>

                <th></th>
            </tr>
        </thead>
        <tbody class="table-rows-clickable">
            {% for i in groups %}
            <tr data-href="groups?g={{ i.id }}">
                <td><input type="checkbox" id="{{ i.id }}" title="Select"></td>
                <td> <a href="/portal/groups/view/{{ i.id }}">{{ i.name }}</td>
                <td>{{ i.role }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<script>
    table.makeRowsClickable(".table-rows-clickable");

    let tbodyCheckboxes = document.querySelectorAll("tbody input[type=checkbox]");
    table.makeRowsSelectable("thead input[type=checkbox]", tbodyCheckboxes);
</script>

{% endblock %}