{% extends "shared/layout-left-nav.html" %}

{% block title %}Groups{% endblock %}

{% block left_nav %}
{% include "portal/left-nav.html" %}
{% endblock %}

{% block content %}
<div class="title">
    <h2>{{ title[0].name}}</h2>
</div>

<section>
    <p class="fs-small mb-3">{{ users|length }} users found.</p>
    <table class="table border-0 table-hover table-compact ">
        <colgroup>
            <col class="w-25">
            <col class="w-25">
            <col class="w-25">
            <col class="w-25">
        </colgroup>
        <thead>
            <tr>
                <th>Display name</th>
                <th>Email</th>
                <th>User type</th>
                <th>Is active</th>

            </tr>
        </thead>
        <tbody class="table-rows-clickable" id="user-table">
            {% for i in users %}
            <tr data-href="users?u={{ i.id }}">
                <td class="capitalize">{{ i.firstName ?? i.fullName }}</td>
                <td>{{ i.email ?? i.studentEmail }}</td>
                <td class="capitalize">{{ i.type }}</td>
                <td>
                    {% if i.isActive %}
                    Yes
                    {% else %}
                    No
                    {% endif %}
                </td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


{% endblock %}