version: '3.8'
services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - 5000:5000
  
  az-storage:
    image: mcr.microsoft.com/azure-storage/azurite
    expose:
      - 10000