$text-field-padding: 6px 8px;
$button-padding: 3px 16px;

label {
    padding: 6px 4px;
}

input[type="text"] {
    padding: $text-field-padding;
}

input[type="email"] {
    padding: $text-field-padding;
}

input[type="password"] {
    padding: $text-field-padding;
}

input[type="submit"] {
    padding: $button-padding;
}

input[type="button"] {
    padding: $button-padding;
}