{% extends "shared/left-nav-layout.html" %}

{% block title %}Feedback{% endblock %}

{% block left_nav %}
{% include "internships/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="content">
    <div class="title">
        Feedback
    </div>
    <div>
        <div class="row-cols-2">
            <div>
                Add your feedback about the student.
            </div>
            <a class="link" href="">
                <input type="button" value="Add">
            </a>
        </div>
        <div class="row-cols-2">
            <div>
                Add your feedback about the company.
            </div>
            <a class="link" href="">
                <input type="button" value="Add">
            </a>
        </div>
    </div>
</div>

{% endblock %}