{% extends "shared/layout.html" %}

{% block title %}Internship Program{% endblock %}

{% block header %}
{{ include ('shared/header.html') }}
{% endblock %}

{% block content %}

<div class="grid pt-30">
    <div class="grid-row text-center text-subtitle">
        <div>
            Internship Program
        </div>
    </div>
    {% if "ROLE_ADMIN" in roles %}
    <div class="grid-row align-items-center mt-20">
        <div class="p-10 border">Start internship cycle</div>
        <div class="p-10">
            <a href="/internships/show/all">
                <input type="submit" value="Start">
            </a>
        </div>
    </div>
    <div class="grid-row align-items-center mt-20">
        <div class="p-10 border">View All internships</div>
        <div class="p-10">
            <a href="/internships/show/all">
                <input type="submit" value="View">
            </a>
        </div>
    </div>
    {% endif %}

    {% if "ROLE_PARTNER" in roles %}
    <div class="grid-row align-items-center mt-20">
        <div class="p-10 border">Show internships you submitted</div>
        <div class="p-10">
            <a href="/internships/show/all">
                <input type="submit" value="View">
            </a>
        </div>
    </div>
    {% endif %}

    {% if "ROLE_STUDENT" in roles %}
    <div class="grid-row align-items-center mt-20">
        <div class="p-10 border">Show all available internships for students</div>
        <div class="p-10">
            <a href="/internships/show/all">
                <input type="submit" value="View">
            </a>
        </div>
    </div>
    {% endif %}

</div>

{% endblock %}