{% extends "shared/layout.html" %}

{% block title %}Internship Program{% endblock %}

{% block header %}
{{ include ("shared/header.html") }}
{% endblock %}

{% block content %}

<div class="text-title text-align-centre">
    Internship Program
</div>

<div class="grid grid-cols-1 row-gap-1 justify-content-centre mt-50">
    {% if "ROLE_ADMIN" in user_roles %}
    <div
        class="grid grid-cols-2 grid-flow-column align-items-baseline justify-content-space-between col-gap-3 px-20 py-10 b-1 br-5">
        <div>Start internship cycle</div>
        <a href="/internships/cycle">
            <input type="button" value="Start">
        </a>
    </div>

    <div
        class="grid grid-cols-2 grid-flow-column align-items-baseline justify-content-space-between col-gap-3 px-20 py-10 b-1 br-5">
        <div>View All internships</div>
        <a href="/internships/show">
            <input type="button" value="View">
        </a>
    </div>

    <div
        class="grid grid-cols-2 grid-flow-column align-items-baseline justify-content-space-between col-gap-3 px-20 py-10 b-1 br-5">
        <div>View internships that needs approval</div>
        <a href="/internships/show?Internship+Status%5B%5D=Pending+Approval">
            <input type="button" value="View">
        </a>
    </div>
    {% endif %}

    {% if "ROLE_PARTNER" in user_roles %}
    <div
        class="grid grid-cols-2 grid-flow-column align-items-baseline justify-content-space-between col-gap-3 px-20 py-10 b-1 br-5">
        <div>Add an internship</div>
        <a href="/internships/add">
            <input type="button" value="Add">
        </a>
    </div>

    <div
        class="grid grid-cols-2 grid-flow-column align-items-baseline justify-content-space-between col-gap-3 px-20 py-10 b-1 br-5">
        <div>Show internships you submitted</div>
        <a href="/internships/show">
            <input type="button" value="View">
        </a>
    </div>
    {% endif %}

    {% if "ROLE_STUDENT" in user_roles %}
    <div
        class="grid grid-cols-2 grid-flow-column align-items-baseline justify-content-space-between col-gap-3 px-20 py-10 b-1 br-5">
        <div>Show all available internships for students</div>
        <a href="/internships/show">
            <input type="button" value="View">
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}