{% extends "shared/layout.html" %}

{% block title %}Internships{% endblock %}

{% block header %}
{{ include ('shared/header.html') }}
{% endblock %}

{% block content %}

<div class="grid justify-items-center">
    <div class="text-title">
        All available internships Student View
    </div>
    <div class="list-view mt-50">
        <div>
            <div class="side-view">
                <div class="title">Filter by</div>
                <div class="category">
                    <div class="title">Job Roles</div>
                    <div class="content">
                        <div class="checkbox">
                            <input type="checkbox" id="check1">
                            <label for="check1">
                                Software Engineer
                            </label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check2">
                            <label for="check2">
                                Data Scientist
                            </label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check3">
                            <label for="check3">
                                Network Administrator
                            </label>
                        </div>
                    </div>
                </div>

                <div class="category">
                    <div class="title">Company</div>
                    <div class="content">
                        <div class="checkbox">
                            <input type="checkbox" id="check4">
                            <label for="check4">
                                LSEG
                            </label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check5">
                            <label for="check5">
                                WSO2
                            </label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="check6">
                            <label for="check6">
                                IFS
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="row">
                <a href="">Internship Name or Position. by Company<br>
                    Description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate modi dolores
                    laboriosam dolor
                    eius enim, deleniti, dolorem nihil quae dicta iste veritatis commodi quisquam amet maxime optio
                    doloremque temporibus natus?
                </a>
                <input type="submit" value="Apply">
            </div>
            <div class="row">
                <a href="">Internship Name or Position. by Company<br>
                    Description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate modi dolores
                    laboriosam dolor
                    eius enim, deleniti, dolorem nihil quae dicta iste veritatis commodi quisquam amet maxime optio
                    doloremque temporibus natus?
                </a>
                <input type="submit" value="Apply">
            </div>
            <div class="row">
                <a href="">Internship Name or Position. by Company<br>
                    Description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate modi dolores
                    laboriosam dolor
                    eius enim, deleniti, dolorem nihil quae dicta iste veritatis commodi quisquam amet maxime optio
                    doloremque temporibus natus?
                </a>
                <input type="submit" value="Apply">
            </div>
            <div class="row">
                <a href="">Internship Name or Position. by Company<br>
                    Description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate modi dolores
                    laboriosam dolor
                    eius enim, deleniti, dolorem nihil quae dicta iste veritatis commodi quisquam amet maxime optio
                    doloremque temporibus natus?
                </a>
                <input type="submit" value="Apply">
            </div>
            <div class="row">
                <a href="">Internship Name or Position. by Company<br>
                    Description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate modi dolores
                    laboriosam dolor
                    eius enim, deleniti, dolorem nihil quae dicta iste veritatis commodi quisquam amet maxime optio
                    doloremque temporibus natus?
                </a>
                <input type="submit" value="Apply">
            </div>
            <div class="row">
                <a href="">Internship Name or Position. by Company<br>
                    Description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate modi dolores
                    laboriosam dolor
                    eius enim, deleniti, dolorem nihil quae dicta iste veritatis commodi quisquam amet maxime optio
                    doloremque temporibus natus?
                </a>
                <input type="submit" value="Apply">
            </div>
        </div>
    </div>
</div>

{% endblock %}