{% extends "shared/layout.html" %}

{% block title %}Internships{% endblock %}

{% block header %}
{{ include ("shared/header.html") }}
{% endblock %}

{% block content %}

<div class="text-title text-align-centre">
    All available internships Student View
</div>

<div class="grid grid-cols-2 col-gap-2 mt-50">
    <div>
        <div class="p-20 b-1 bg-light-grey br-5" id="filters">
            <div class="fs-6">Filter by</div>
            <div class="my-15">
                <div class="fw-6 mb-5">Job Roles</div>
                <div class="px-5 data-category" data-category="Job Role">
                    {% for role in jobRoles %}
                    <div class="checkbox">
                        <input type="checkbox" id="role-{{ role.id }}" value="{{ role.id }}" {% if role.id in
                            queryJobRoles %} checked {% endif %}>
                        <label for="role-{{ role.id }}">
                            {{ role.name }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if ("ROLE_ADMIN" in user_roles) or ("ROLE_STUDENT" in user_roles) %}
            <div class="my-15">
                <div class="fw-6 mb-5">Company</div>
                <div class="px-5 data-category" data-category="Company">
                    {% for company in companies %}
                    <div class="checkbox">
                        <input type="checkbox" id="company-{{ company.id }}" value="{{ company.id }}" {% if company.id
                            in queryCompanies %} checked {% endif %}>
                        <label for="company-{{ company.id }}">
                            {{ company.name }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if ("ROLE_ADMIN" in user_roles) or ("ROLE_PARTNER" in user_roles) %}
            <div class="my-15">
                <div class="fw-6 mb-5">Internship Status</div>
                <div class="px-5 data-category" data-category="Internship Status">
                    {% for status in internshipStatus %}
                    <div class="checkbox">
                        <input type="checkbox" id="status-{{ status }}" value="{{ status }}" {% if status in
                            queryInternshipStatus %} checked {% endif %}>
                        <label for="status-{{ status }}">
                            {{ status }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div>
        {% for item in internships %}
        <div class="grid grid-cols-1 grid-rows-2 grid-flow-row px-25 py-20 mb-10 b-1 br-5 hov-bg-grey act-bg-blue">
            <a class="hov-underline" href="show/{{ item.id }}">
                <div class="fw-6 pb-10">{{ item.description }}</div>
                <div><span class="italic fc-light">at </span>{{item.company}}</div>
            </a>

            {% if ("ROLE_PARTNER" in user_roles) or ("ROLE_ADMIN" in user_roles) %}
            <div class="text-align-right pt-5">
                <a href="show/{{ item.id }}/applicants">
                    <input type="button" value="Applicants">
                </a>
                <a href="show/{{ item.id }}/edit">
                    <input type="button" value="Edit">
                </a>
                <a href="">
                    <input type="button" value="Remove">
                </a>
            </div>
            {% endif %}

            {% if "ROLE_STUDENT" in user_roles %}
            <div>
                <input type="button" value="Apply">
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js %}
<script src="/js/internships-show.js" type="text/javascript"></script>
{% endblock js %}