{% extends "shared/layout.html" %}

{% block title %}Internships{% endblock %}

{% block header %}
{{ include ("shared/header.html") }}
{% endblock %}

{% block content %}

<div class="fs-3 fw-6 pb-20">
    Internship Id {{ id }}
</div>
<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, eum deleniti officia corrupti
    cumque hic exercitationem fuga porro amet velit sed sint dolorum eaque. Nihil quidem magnam
    itaque ipsum, officia maxime unde blanditiis recusandae esse facere expedita beatae quas veniam
    explicabo tempora mollitia autem nam iusto quisquam adipisci provident at.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, eum deleniti officia corrupti
    cumque hic exercitationem fuga porro amet velit sed sint dolorum eaque. Nihil quidem magnam
    itaque ipsum, officia maxime unde blanditiis recusandae esse facere expedita beatae quas veniam
    explicabo tempora mollitia autem nam iusto quisquam adipisci provident at.
    <br><br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, eum deleniti officia corrupti
    cumque hic exercitationem fuga porro amet velit sed sint dolorum eaque. Nihil quidem magnam
    itaque ipsum, officia maxime unde blanditiis recusandae esse facere expedita beatae quas veniam
    explicabo tempora mollitia autem nam iusto quisquam adipisci provident at.
</div>
<div class="grid grid-cols-8 col-gap-1 mt-50">

    {% if ("ROLE_PARTNER" in user_roles) or ("ROLE_ADMIN" in user_roles) %}
    <a class="col-start-6" href="{{ id }}/applicants">
        <input type="button" value="Applicants">
    </a>
    <a class="col-start-7" href="{{ id }}/edit">
        <input type="button" value="Edit">
    </a>
    <input class="col-start-8" type="button" value="Remove">
    {% endif %}

    {% if "ROLE_STUDENT" in user_roles %}
    <input class="col-start-8" type="button" value="Apply">
    {% endif %}
</div>

{% endblock %}