{% extends "shared/layout.html" %}

{% block title %}Internships{% endblock %}

{% block header %}
{{ include ('shared/header.html') }}
{% endblock %}

{% block content %}

<div class="grid justify-content-center pt-100">
    <div class="grid-row justify-items-center text-center text-subtitle">
        <div>
            All available internships
        </div>
    </div>
    <div class="grid-row align-items-center mt-20">
        <div class="p-10 border">internship 1</div>
        <div class="p-10">
            <a href="/internships/view">
                <input type="submit" value="View">
            </a>
        </div>
    </div>
</div>

{% endblock %}