<div class="left-nav">
    <a class="nav-link {% if section == 'home' %} active{% endif %}" href="/internship-program/home">
        Internship Program
    </a>
    <a class="nav-link {% if section == 'internships' %} active{% endif %}" href="/internship-program/internships">
        Apply for Internships
    </a>
    <a class="nav-link {% if section == 'documents' %} active{% endif %}" href="/internship-program/documents">
        Documents
    </a>
    <a class="nav-link {% if section == 'feedback' %} active{% endif %}" href="/internship-program/feedback">
        Feedback
    </a>
</div>