{% extends "shared/layout.html" %}

{% block title %}Internships{% endblock %}

{% block header %}
{{ include ('shared/header.html') }}
{% endblock %}

{% block content %}

<div class="text-title text-center">
    All available internships Student View
</div>

<div class="grid grid-cols-2 col-gap-2 justify-content-center mt-50">
    <div>
        <div class="p-20 b-1 bg-colour-light-grey br-5">
            <div class="fs-6">Filter by</div>
            <div class="my-15">
                <div class="fw-6 mb-5">Job Roles</div>
                <div class="px-5">
                    <div class="checkbox">
                        <input type="checkbox" id="check1">
                        <label for="check1">
                            Software Engineer
                        </label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="check2">
                        <label for="check2">
                            Data Scientist
                        </label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="check3">
                        <label for="check3">
                            Network Administrator
                        </label>
                    </div>
                </div>
            </div>
            <div class="my-15">
                <div class="fw-6 mb-5">Company</div>
                <div class="px-5">
                    <div class="checkbox">
                        <input type="checkbox" id="check4">
                        <label for="check4">
                            LSEG
                        </label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="check5">
                        <label for="check5">
                            WSO2
                        </label>
                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="check6">
                        <label for="check6">
                            IFS
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-600">
        <div class="grid grid-cols-2 grid-flow-column px-25 py-20 mb-10 b-1 br-5 hov-bg-grey act-bg-blue">
            <a class="hov-underline" href="1">
                <div class="fw-6 pb-10">Internship Name or Position. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Voluptate modi</div>
                <div><span class="italic fc-light">at </span>Company</div>
            </a>
            <div>
                <input type="submit" value="Apply">
            </div>
        </div>
        <div class="grid grid-cols-2 grid-flow-column px-25 py-20 mb-10 b-1 br-5 hov-bg-grey act-bg-blue">
            <a class="hov-underline" href="2">
                <div class="fw-6 pb-10">Internship Name or Position. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Voluptate modi</div>
                <div><span class="italic fc-light">at </span>Company</div>
            </a>
            <div>
                <input type="submit" value="Apply">
            </div>
        </div>
        <div class="grid grid-cols-2 grid-flow-column px-25 py-20 mb-10 b-1 br-5 hov-bg-grey act-bg-blue">
            <a class="hov-underline" href="3">
                <div class="fw-6 pb-10">Internship Name or Position. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Voluptate modi</div>
                <div><span class="italic fc-light">at </span>Company</div>
            </a>
            <div>
                <input type="submit" value="Apply">
            </div>
        </div>
    </div>
</div>

{% endblock %}