{% extends "shared/layout-left-nav.html" %}

{% block title %}TechTalks{% endblock %}

{% block left_nav %}
{% include "techtalks/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>
        Create a Tech Talk Session
    </h2>
</div>
<form class="w-96 mx-auto" action="/techtalks/create" method="post">
    <div class="field">
        <label for="sessiontitle">Session Title:</label>
        <input type="text" id="sessiontitle" name="sessiontitle">
    </div>
    <div class="field">
        <label for="sessionDate">Session Date:</label>
        <input type="date" id="sessionDate" name="sessionDate" required>
    </div>
    <div class="field">
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" name="startTime" required>
    </div>
    <div class="field">
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" name="endTime" required>
    </div>
    <div class="field">
        <label for="sessionLocation">Session Location:</label>
        <input type="text" id="sessionLocation" name="sessionLocation" required>
    </div>
    <div class="actions">
        <input class="btn" type="submit" value="Schedule Session">
    </div>
</form>

{% endblock %}