<a class="nav-link {% if section == 'home' %} active{% endif %}" href="/techtalks">
    <i class="i i-calendar2"></i>
    Techtalks
</a>


{% if has_role('Admin') %}
<a class="nav-link {% if section == 'techtalks' %} active{% endif %}" href="/techtalks/schedulesession">
    <i class="i i-calendar2-plus"></i>
    Create a Session
</a>
{% endif %}

{% if has_role('Admin') or has_role('Partner')%}
{# <a class="nav-link {% if section == 'techtalks' %} active{% endif %}" href="/techtalks/scheduletitle">
    <i class="i i-calendar2-plus"></i>
    Schedule Title
</a> #}

<a class="nav-link {% if section == 'home' %} active{% endif %}" href="/techtalks/booksession">
    <i class="i i-calendar2"></i>
    Book Session
</a>
{% endif %}
<a class="nav-link {% if section == 'techtalks' %} active{% endif %}" href="/techtalks/techtalklist">
    <i class="i i-card-list"></i>
    Techtalks List
</a>

