{% extends "shared/layout-left-nav.html" %}

{% block title %}Your Applications{% endblock %}

{% block left_nav %}
{% include "internship-program/left-nav.html" %}
{% endblock %}

{% block content %}

<div class="title">
    <h2>
        Internships you have applied for
    </h2>
</div>

<section>
    <div class="title">
        <h5>
            Applications
        </h5>
    </div>

    {% if applications is empty %}
    <p>No applications have found.</p>
    {% else %}

    <table class="hover row-border" id="applications-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Company</th>
                <th>Application Status</th>
                <th>View Uploaded Files</th>
            </tr>
        </thead>
        <tbody>
            {% for i in applications %}
            <tr>
                <td>{{ i.internship_title }}</td>
                <td>{{ i.organization_name }}</td>
                <td>
                    {% if i.application_status == 'pending' %}
                    <span class='fs-6 i i-dash-circle-fill text-warning'></span>
                    <span>Pending</span>
                    {% elseif i.application_status == 'hired' %}
                    <span class='fs-6 i i-check-circle-fill text-success'></span>
                    <span>Accepted</span>
                    {% elseif i.application_status == 'rejected' %}
                    <span class='fs-6 i i-x-circle text-danger'></span>
                    <span>Rejected</span>
                    {% endif %}
                </td>
                <td>
                    {% for id in i.fileIds %}
                    <a class="btn btn-sm btn-secondary"
                        href="/internship-program/applications/{{ i.application_id }}/files/{{ id }}"
                        target="_blank">View
                    </a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
</section>

<script src="/js/internship-program/applications/student/home.js"></script>

{% endblock %}