@use "../var";
@use "../mixins";

.rounded-1 {
    border-radius: var.$rounded-1;
}

.rounded-2 {
    border-radius: var.$rounded-2;
}

.border-1 {
    border: var.$border-1;
}

.border-b-1 {
    border-bottom: var.$border-b-1;
}

.border-2 {
    border: var.$border-2;
}

@include mixins.media-breakpoint-up(sm) {
    .sm-border-1 {
        border: var.$border-1;
    }
}