@use "../variables" as *;
@use "../mixins";

.rounded-0 {
    border-radius: $rounded-0 !important;
}

.rounded-1 {
    border-radius: $rounded-1 !important;
}

.rounded-2 {
    border-radius: $rounded-2 !important;
}

.border-0 {
    border: $border-0 !important;
}

.border-1 {
    border: $border-1 !important;
}

.border-b-1 {
    border-bottom: $border-1 !important;
}

.border-2 {
    border: $border-2 !important;
}