@use "../variables" as *;

// .btn {
//     line-height: 1.2;
//     font-size: $btn-font-size;
//     cursor: pointer;
//     padding: $btn-padding;
//     border: none;
//     border-radius: $btn-border-radius;
//     transition: $btn-transition;
//     font-weight: $fw-5;

//     &.btn-primary {
//         color: $colors-btn-primary;
//         background-color: $colors-btn-primary-bg;
//         border: $btn-primary-border;

//         &:hover {
//             color: $colors-btn-primary;
//             background-color: $colors-btn-primary-bg-hov;
//             border: $btn-primary-bg-hov-border;
//         }

//         &:active {
//             color: $colors-btn-primary;
//             background-color: $colors-btn-primary-bg-act;
//             border: $btn-primary-bg-act-border;
//         }
//     }
// }

.btn {
    display: inline-block;
    padding: $btn-padding;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    line-height: 1.2;
    color: $btn-color;
    background-color: $btn-bg;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: none;
    border-radius: $btn-border-radius;
    box-shadow: $btn-box-shadow;
    transition: $btn-transition;

    &:hover {
        color: $btn-hover-color;
        background-color: $btn-hover-bg;
        border-color: $btn-hover-border-color;
    }

    &:active {
        color: $btn-active-color;
        background-color: $btn-active-bg;
        border-color: $btn-active-border-color;
    }

    &:focus-visible {
        color: $btn-hover-color;
        border-color: $btn-hover-border-color;
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }

    &:disabled,
    &.disabled & {
        color: $btn-disabled-color;
        pointer-events: none;
        background-color: $btn-disabled-bg;
        border-color: $btn-disabled-border-color;
        box-shadow: none;
    }
}

.btn-outline {
    // @include button-outline-variant($value);
}