@use "../variables" as *;

.btn {
    display: inline-block;
    padding: $btn-padding;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: $btn-color;
    background-color: $btn-bg;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border: $btn-border;
    border-radius: $btn-border-radius;
    border-color: $btn-border-color;
    box-shadow: $btn-box-shadow;
    transition: $btn-transition;

    &:hover {
        color: $btn-hover-color;
        background-color: $btn-hover-bg;
        border-color: $btn-hover-border-color;
    }

    &:active {
        color: $btn-active-color;
        background-color: $btn-active-bg;
        border-color: $btn-active-border-color;
    }

    &:focus-visible {
        color: $btn-hover-color;
        border-color: $btn-hover-border-color;
        outline: 0;
        box-shadow: $btn-focus-box-shadow;
    }

    &:disabled,
    &.disabled {
        color: $btn-disabled-color;
        pointer-events: none;
        background-color: $btn-disabled-bg;
        border-color: $btn-disabled-border-color;
        box-shadow: none;
    }

    &.btn-regular {
        color: $btn-regular;
        background-color: $btn-regular-bg;
        border: none;
        box-shadow: none;

        &:hover {
            color: $btn-regular;
            background-color: $btn-regular-hover-bg;
        }

        &:active {
            color: $btn-regular;
            background-color: $btn-regular-active-bg;
        }

        &:disabled,
        &.disabled {
            color: $btn-regular-disabled-color;
            pointer-events: none;
        }
    }

    &.btn-secondary {
        color: $btn-secondary;
        background-color: $btn-secondary-bg;
        border-color: $btn-secondary-border-color;

        &:hover {
            color: $btn-secondary;
            background-color: $btn-secondary-hover-bg;
        }

        &:active {
            color: $btn-secondary;
            background-color: $btn-secondary-active-bg;
        }
    }
}

.btn-icon {
    display: inline-flex;
    padding-left: 16px;
    align-items: center;
    column-gap: 0.3rem;

    .i {
        font-size: 1.2rem;
        line-height: 1;
    }
}

.btn-outline {
    // @include button-outline-variant($value);
}