@use '../variables' as *;

.card {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    .header {
        font-weight: $fw-semibold;
        margin-bottom: 0.5rem;

        &:not(:first-child) {
            margin-top: 1rem;
        }
    }
}