@use '../variables' as *;

.choices__inner {
    border: 2px solid #a7a9ad;
    border-radius: 4px;
    font-size: $input-element-font-size;
    padding: 0.45rem 0.75rem;
    min-height: max-content;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 0.45rem;
}

.choices__list--single {
    padding: 0;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    border-radius: 4px;
}