.command-bar {
    display: flex;
    border-bottom: 1px solid #3f3f3f;

    .btn {
        padding: 10px 18px;
    }

    .spacer {
        width: 1px;
        margin: 10px;
        background-color: #a2a2a2;
    }
}