.items {
    &-baseline {
        align-items: baseline;
    }

    &-center {
        align-items: center;
    }

    &-start {
        align-items: flex-start;
    }

    &-end {
        align-items: flex-end;
    }
}

.justify {
    &-between {
        justify-content: space-between;
    }
}