.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.float {
    &-left {
        float: left;
    }

    &-right {
        float: right;
    }
}

.divider {
    border-bottom-color: rgb(214, 214, 214);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    width: 102%;
    position: relative;
    left: -1%;
}