@use '../variables' as *;

$table-font-size: 0.95rem;
$table-header-color: #0000009c;
$table-header-font-size: 0.9rem;
$table-row-hover-bg: #f2f2f2;

.table {
    table-layout: auto;
    font-size: $table-font-size;
    text-align: left;
    width: 100%;
    border: $border-1;
    border-radius: $rounded-1;
    border-spacing: 0;

    tr {

        th,
        td {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 1.2rem;
            padding-right: 1rem;
        }

        .cell-checkbox {
            padding: 0.3rem 0 0 0;
            margin: 0;
            width: 3rem;
            min-width: min-content;
            text-align: center;
        }

        .margin-cell {
            &:first-child {
                padding-left: 0.6rem;
            }

            &:last-child {
                padding-right: 0.6rem;
            }
        }
    }

    thead {
        tr {
            height: 2.75rem;
            color: $table-header-color;
            font-size: $table-header-font-size;
            font-weight: $fw-medium;

            * {
                border-bottom: $border-1;
            }
        }
    }

    tbody>tr {
        height: 2.5rem;

        * {
            border-bottom: 1px solid rgb(237, 235, 233);
        }

        &:last-child {
            * {
                border-bottom: none;
            }
        }
    }

    &.rows-selectable {

        tr>th:first-child,
        tr>td:first-child {
            padding-left: 0.5rem;
            padding-right: 0.5rem;

            input {
                display: block;
            }
        }
    }

    &.table-hover {
        tbody>tr:hover>* {
            background-color: $table-row-hover-bg;
            cursor: pointer;
            -webkit-user-select: none;
            user-select: none;
        }
    }
}

.table-compact {

    thead {
        tr {
            height: 2.5rem;
        }
    }

    tbody {
        tr {
            height: 2.25rem;
        }
    }
}

.gridjs-row-clickable {
    tr {
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
    }

    tr:hover {
        td {
            background-color: $table-row-hover-bg;
        }

        td:not(:last-child) {
            border-right: 1px solid #c9c9c9;
        }
    }
}

.gridjs-row-hover {
    tr:hover {
        td {
            background-color: $table-row-hover-bg;
        }

        td:not(:last-child) {
            border-right: 1px solid #c9c9c9;
        }
    }
}

td.gridjs-td {
    padding: 10px 15px;

    button {
        margin: -10px 0;
        box-sizing: border-box;
    }

    .i:first-child {
        margin-right: 0.75rem;
    }

    .i:last-child {
        margin-left: 0.75rem;
    }
}

th.gridjs-th {
    padding: 12px 15px;

    .i {
        vertical-align: top;
    }
}