@use "../var";

.text {
    &-centre {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.fs {
    &-1 {
        font-size: var.$fs-1;
    }

    &-2 {
        font-size: var.$fs-2;
    }

    &-3 {
        font-size: var.$fs-3;
    }

    &-4 {
        font-size: var.$fs-4;
    }

    &-5 {
        font-size: var.$fs-5;
    }
}

.fw-6 {
    font-weight: var.$fw-6;
    color: #2d2d2d;
}
.fw-4{
    font-weight: var.$fw-4;
    color: #0527b0;
}

.fw-1{
    font-weight: var.$fw-1;
    color: #2d2d2d;
}

.fc-light {
    color: #666666;
}

.fc-blue {
    color: #0a66c2;
}

.fc-black {
    color: #000000;
}

.fc-dark {
    color: #2d2d2d;
}

.italic {
    font-style: italic;
}