@use "../var";

.text {
    &-centre {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.title {
    margin-bottom: 1rem;

    >p {
        color: var.$colors-text-subtitle;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: var.$fw-5;
    line-height: 1.2;
}

h {
    &1 {
        font-size: var.$fs-1;
    }

    &2 {
        font-size: var.$fs-2;
    }

    &3 {
        font-size: var.$fs-3;
    }

    &4 {
        font-size: var.$fs-4;
    }

    &5 {
        font-size: var.$fs-5;
    }

    &6 {
        font-size: var.$fs-6;
    }
}

.fs {
    &-1 {
        font-size: var.$fs-1;
    }

    &-2 {
        font-size: var.$fs-2;
    }

    &-3 {
        font-size: var.$fs-3;
    }

    &-4 {
        font-size: var.$fs-4;
    }

    &-5 {
        font-size: var.$fs-5;
    }

    &-6 {
        font-size: var.$fs-6;
    }
}

.fw {
    &-1 {
        font-weight: var.$fw-1;
    }

    &-2 {
        font-weight: var.$fw-2;
    }

    &-3 {
        font-weight: var.$fw-3;
    }

    &-4 {
        font-weight: var.$fw-4;
    }

    &-5 {
        font-weight: var.$fw-5;
    }

    &-6 {
        font-weight: var.$fw-6;
    }
}

.fc-light {
    color: #666666;
}

.italic {
    font-style: italic;
}