@use "../variables" as *;

.text {
    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.text {
    &-success {
        color: #0f7b0f;
    }

    &-warning {
        color: #ff8c00;
    }

    &-danger {
        color: #dc3545;
    }
}

.title {
    margin-bottom: 1rem;

    >p {
        color: $text-subtitle-color;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: $fw-medium;
    line-height: 1.2;
}

h {
    &1 {
        font-size: $fs-1;
    }

    &2 {
        font-size: $fs-2;
    }

    &3 {
        font-size: $fs-3;
    }

    &4 {
        font-size: $fs-4;
    }

    &5 {
        font-size: $fs-5;
    }

    &6 {
        font-size: $fs-6;
    }
}

.fs {
    &-1 {
        font-size: $fs-1;
    }

    &-2 {
        font-size: $fs-2;
    }

    &-3 {
        font-size: $fs-3;
    }

    &-4 {
        font-size: $fs-4;
    }

    &-5 {
        font-size: $fs-5;
    }

    &-6 {
        font-size: $fs-6;
    }

    &-small {
        font-size: $fs-small;
    }
}

.fw {
    &-light {
        font-weight: $fw-light;
    }

    &-normal {
        font-weight: $fw-normal;
    }

    &-medium {
        font-weight: $fw-medium;
    }

    &-semibold {
        font-weight: $fw-semibold;
    }
}

.fc-light {
    color: #666666;
}

.italic {
    font-style: italic;
}

.capitalize {
    text-transform: capitalize !important;
}

.uppercase {
    text-transform: uppercase !important;
}