**/*.dist
**/*.cache
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile

App/
!App/src/
!App/public/
App/public/css/
App/public/js/
!App/sql/
!App/bin/
!composer.json
!composer.lock
!package-lock.json
!package.json
!gulpfile.prod.js