**/*.dist
**/*.cache
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
./App/tests/
./App/vendor/
./App/node_modules/
**/package-lock.json
**/package.json
./App/public/css/
./App/public/js/
**/.vscode/
**/.idea/