**/*.dist
**/*.cache
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile

App/
!App/src/
!App/public/
App/public/css/
App/public/js/
!App/sql/
!App/bin/
!App/composer.json
!App/composer.lock
!App/package-lock.json
!App/package.json
!App/gulpfile.prod.js