@use "var";

$br-5px: 5px;
$br-10px: 10px;

$b-1: 1px solid #d4d2d0;
$bb-1: 1px solid #d4d2d0;

.br-5 {
    border-radius: $br-5px;
}

.br-10 {
    border-radius: $br-10px;
}

.b-1 {
    border: 1px solid #d4d2d0;
}

.bb-1 {
    border-bottom: $bb-1;
}

.b-2 {
    border: 1px solid #4f4f4f;
}

@media (min-width: var.$breakpoint-sm) {
    .sm-b-1 {
        border: $b-1;
    }
}