@use "var";

$br-5px: 5px;
$br-10px: 10px;

$b-1: 1px solid #d4d2d0;
$bb-1: 1px solid #d4d2d0;

.br-5 {
    border-radius: $br-5px;
}

.br-10 {
    border-radius: $br-10px;
}

.b-1 {
    border: 1px solid #d4d2d0;
}

.bb-1 {
    border-bottom: $bb-1;
}

.b-2 {
    border: 1px solid #4f4f4f;
}

@media (min-width: var.$breakpoint-sm) {
    .sm-bs-3 {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
}