@use "variables" as *;
@use "mixins";

.card-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 400px;
    row-gap: 30px;
    column-gap: 50px;

    @include mixins.media-breakpoint-down(xl) {
        grid-template-columns: repeat(3, auto);
    }

    @include mixins.media-breakpoint-down(lg) {
        grid-template-columns: repeat(2, auto);
    }

    @include mixins.media-breakpoint-down(sm) {
        grid-template-columns: auto;
    }
}

.card {
    min-width: 225px;
    border-radius: $rounded-1;
    padding: 13px 15px 10px 15px;
    text-align: center;
    border: 2px solid #3b81e8;

    &:hover {
        background-color: $hov-light-blue;
        border: 2px solid #3b81e8;
    }

    &:active {
        background-color: $active-light-blue;
        border: 2px solid #3b81e8;
    }
}