$hover-light-grey: #f8f8f8;
$active-light-blue: #deecf9;

$link: #0067b8;

.colour-link {
    color: $link;
}

.bg-colour-grey {
    background-color: #dcdcdc;
}

.bg-colour-light-grey {
    background-color: #ebebeb;
}