@use "var";

.bg {
    &-greyextralight {
        background-color: #fafafa;
    }

    &-lightgrey {
        background-color: #ebebeb;
    }

    &-white {
        background-color: #ffffff;
    }

    // Hover state
    &-hov {
        &-lightblue:hover {
            background-color: #deecf9;
        }
    }
}


@media (min-width: var.$breakpoint-sm) {
    .sm-bs-3 {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .sm-bg {
        &-greyextralight {
            background-color: #fafafa;
        }
    }
}
