@use "var";

.hov {
    &-underline:hover {
        text-decoration: underline;
    }

    &-bg {
        &-lightgrey:hover {
            background-color: var.$colors-hover-light-grey;
        }
    }
}

.act {
    &-bg {
        &-blue:active {
            background-color: var.$colors-active-light-blue;
        }
    }
}