@font-face {
    font-family: "BootstrapIcons";
    src: url("/fonts/bootstrap-icons.woff2") format("woff2"),
        url("/fonts/bootstrap-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.i {
    font-family: "BootstrapIcons";
    line-height: inherit;
    font-weight: normal;
    font-style: normal;
    vertical-align: middle;
    margin: 0 0.2rem;
}

.i-search::before {
    content: "\F52A";
}

.i-filter::before {
    content: "\F3CA";
}

.i-chevron-down::before {
    content: "\F282";
}

.i-list::before {
    content: "\F479";
}

.i-x-lg::before {
    content: "\F659";
}

.i-buildings::before {
    content: "\F87D";
}

.i-plus::before {
    content: "\F4FE";
}

.i-arrow-bar-up::before {
    content: "\F115";
}

.i-arrow-bar-down::before {
    content: "\F112";
}

.i-chevron-left::before {
    content: "\F284";
}

.i-chevron-right::before {
    content: "\F285";
}

.i-plus-lg::before {
    content: "\F64D";
}

.i-trash::before {
    content: "\F5DE";
}

.i-arrow-repeat::before {
    content: "\F130";
}

.i-check-circle::before {
    content: "\F26B";
}

.i-x-circle::before {
    content: "\F623";
}

.i-people::before {
    content: "\F4D0";
}

.i-person-bounding-box::before {
    content: "\F4D4";
}

.i-list-task::before {
    content: "\F477";
}

.i-clipboard-pulse::before {
    content: "\F722";
}

.i-person-square::before {
    content: "\F4DE";
}

.i-briefcase::before {
    content: "\F1CC";
}

.i-journal-text::before {
    content: "\F444";
}

.i-clipboard-check::before {
    content: "\F28B";
}

.i-cloud-arrow-up::before {
    content: "\F297";
}

// Font family Poppins
// #region Poppins

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

// #endregion

// Font family Open Sans
// #region Open Sans

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

// #endregion