@font-face {
    font-family: "BootstrapIcons";
    src: url("/fonts/bootstrap-icons.woff2") format("woff2"),
        url("/fonts/bootstrap-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.i {
    font-family: "BootstrapIcons";
    line-height: inherit;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    vertical-align: middle;
    margin: 0 0.2rem;
}

.i-search::before {
    content: "\F52A";
}

.i-filter::before {
    content: "\F3CA";
}

.i-chevron-down::before {
    content: "\F282";
}

// Font family Poppins
// #region Poppins

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/Poppins/Poppins-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

// #endregion

// Font family Open Sans
// #region Open Sans

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

// #endregion