form {
    .field {
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 5px;

        margin-bottom: 15px;

        label {
            padding: 8px 8px 8px 10px;
        }
    }

    .submit-field {
        text-align: right;
        margin-top: 25px;
    }
}