form {
    >.field {
        min-width: 100%;
        padding-top: 0.5rem;
        margin-bottom: 1.25rem;

        label {
            padding-bottom: 0.9rem;
            padding-left: 0.625rem;
        }

        input {
            width: 100%;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        column-gap: 0.5rem;
        padding-top: 0.95rem;
    }
}