@use 'variables' as *;

form {
    max-width: 50rem;

    .field {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        &.row,
        &-radio.row {
            display: flex;
            flex-direction: row;
            column-gap: 4%;
            align-items: flex-start;
            height: auto;
            margin-bottom: 0.9rem;

            .option {
                margin-bottom: 0.7rem;
            }

            >label,
            >.label {
                flex-basis: 40%;
                overflow-wrap: break-word;
                padding-left: 0;
                padding-bottom: 0.6rem;

                &+* {
                    flex: 1;
                }

                &+[type="checkbox"] {
                    flex: unset;
                }
            }
        }

        &-group {
            margin-bottom: 2rem;

            >label {
                font-size: $fs-6;
                font-weight: 600;
                margin-bottom: 1.75rem;
            }
        }

        label {
            padding-bottom: 0.9rem;
            padding-left: 0.1rem;
        }

        &-radio {
            margin-bottom: 2rem;

            .label {
                padding-bottom: 0.9rem;
                padding-left: 0.1rem;
            }

            .option {
                display: flex;
                margin-bottom: 0.9rem;
                padding-left: 0.6rem;

                label {
                    padding-left: 0.75rem;
                    cursor: pointer;
                }
            }
        }

        .checkbox-container.cols-2 {
            display: grid;
            grid-template-columns: max-content max-content;
            grid-template-rows: auto;
            column-gap: 1rem;
            padding-left: 0.6rem;
        }

        &-file-upload {
            margin-bottom: 0.9rem;

            .preview {
                border-radius: $rounded-1;
                background-color: $grey-100;
                padding: 1rem;
                margin-top: 1rem;
                font-size: 0.95rem;

                ol {
                    list-style: none;

                    li {
                        display: flex;
                        column-gap: 1rem;
                        align-items: center;

                        &:not(:last-child) {
                            padding-bottom: 0.25rem;
                            margin-bottom: 0.5rem;
                        }
                    }
                }

                img {
                    width: 75px;
                    height: auto;
                }
            }
        }
    }

    .actions {
        display: flex;
        column-gap: 0.5rem;
    }

}

.form-actions {
    margin-top: 1.5rem;
}