.grid {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;

    &-row {
        display: grid;
        grid-auto-flow: column;
    }

    &-auto-col-max-content {
        grid-auto-columns: max-content;
    }

    &-col-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &-row-2-1fr-2fr {
        display: grid;
        grid-template-rows: 1fr 2fr;
    }
}

.justify-content-center {
    justify-content: center;
}

.justify-items-center {
    justify-items: center;
}

.align-items-center {
    align-items: center;
}