.grid {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-columns: auto;

    &-flow-row {
        grid-auto-flow: row;
    }

    &-flow-col {
        grid-auto-flow: column;
    }

    &-cols-2 {
        grid-template-columns: auto auto;
    }

    &-rows-2 {
        grid-template-rows: auto auto;
    }
}

.justify-content-center {
    justify-content: center;
}

.justify-items-center {
    justify-items: center;
}

.align-items-center {
    align-items: center;
}