@use "variables" as *;
@use "mixins" as *;

.navbar-container {
    height: 3.75rem;
    box-shadow: rgba(57, 76, 96, 0.15) 0px 2px 4px -1px;
    background-color: #006bbd;

    .navbar {
        display: flex;
        height: 100%;
        column-gap: 0.5rem;
        padding: 0 3.125rem;
        padding-top: 0.1rem;
        max-width: $webpage-max-allowed-width;
        margin: 0 auto;

        >* {
            margin: auto 0;
            text-align: center;
        }

        &-toggler {
            display: none;
            padding: .5rem;
            border-radius: $rounded-1 - 2;
            cursor: pointer;
            min-width: 3rem;
            max-width: 3rem;
            color: #fff;

            >.i-list {
                font-size: 1.5rem;
            }

            >.i-x-lg {
                font-size: 1.25rem;
            }

            &:hover {
                background-color: #007dce;
            }

            &:active {
                background-color: #0085de;
            }
        }

        &-dropdown {
            display: none;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            z-index: 1;
            background-color: #006bbd;
            padding: 1.5rem;
            box-shadow: rgba(57, 76, 96, 0.15) 0px 2px 4px -1px;
        }

        &-brand {
            margin-right: 2rem;
        }

        &-menu {
            display: flex;
            width: 100%;
        }

        &-brand,
        &-start,
        &-end {
            display: flex;
            list-style: none;
            column-gap: 0.5rem;
        }

        &-start {
            margin-right: auto;
        }

        a {
            color: #fff;
            font-weight: $fw-medium;
            width: 100%;
            height: 100%;
            display: block;
            padding: 0.7rem 1rem 0.7rem 1rem;
            border-radius: $rounded-1 - 2;
            transition: background-color .1s cubic-bezier(0.02, 1, 1, 1);

            &:hover {
                background-color: #007dce;
            }

            &:active {
                background-color: #0085de;
            }
        }

        li {
            display: block;
        }

        @include media-breakpoint-down(md) {
            padding: 0 1.25rem;

            &-toggler {
                display: block;
            }

            &-start {
                display: none;
            }

            &-end {
                margin-left: auto;
            }

            .navbar-dropdown {
                &.visible {
                    display: block;
                }
            }
        }
    }
}