@font-face {
    font-family: 'BootstrapIcons';
    src: url('/fonts/bootstrap-icons.woff2') format('woff2'),
        url('/fonts/bootstrap-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.i {
    font-family: 'BootstrapIcons';
    line-height: inherit;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    vertical-align: middle;
    margin: 0 0.2rem;
}

.i-search::before {
    content: "\F52A";
}

.i-filter::before {
    content: "\F3CA";
}

.i-chevron-down::before {
    content: "\F282";
}