@use 'variables' as *;
@use 'mixins';

%text-field-border {
    border: 1px solid #d1d1d1;
    border-radius: 4px;

    &:active,
    &:focus,
    &:hover,
    &:focus-within {
        border: 1px solid #a0a2a4;
    }
}

%text-field-outline {
    outline: none;

    &:active,
    &:focus,
    &:hover,
    &:focus-within {
        outline: none;
    }
}

%text-field-styles {
    background-color: #f5f5f5;
    padding: 0.45rem 0.75rem;
    @extend %text-field-border;
    @extend %text-field-outline;
}

label {
    display: inline-block;
}

input {
    font-family: inherit;
    font-size: $input-element-font-size;

    &[type="text"],
    &[type="email"],
    &[type="password"],
    &[type="url"],
    &[type="number"] {
        @extend %text-field-styles;
    }

    &[type="date"] {
        cursor: pointer;
        @extend %text-field-styles;
        padding: 0.45rem 0.75rem;
    }

    &[type="time"] {
        cursor: pointer;
        @extend %text-field-styles;
    }

    &[type="radio"] {
        outline: none;
        width: 18px;
        cursor: pointer;
    }

    &[type="checkbox"] {
        width: 20px;
        height: 20px;
        cursor: pointer;

        +label {
            cursor: pointer;
        }
    }

    &[type="file"] {
        display: none;
    }
}

button {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
    outline: none;
}

select {
    @extend %text-field-styles;
    padding: 0.45rem 0.75rem;
    font-size: $input-element-font-size;
    cursor: pointer;
}

.text-editor-container {
    @extend %text-field-styles;

    .ql-toolbar {
        padding: 0.25rem 0 0.5rem 0;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .ql-formats {
        button {
            width: auto;
            height: auto;
            padding: .5rem;
            border-radius: $rounded-1;

            &:hover {
                background-color: #c5c5c55c;
            }
        }

        svg {
            height: 20px;
            width: 20px;
        }
    }

    .text-editor {
        font-size: $input-element-font-size;
        font-family: inherit;
        border: none;
        overflow-wrap: break-word;
        word-break: break-word;

        >* {
            line-height: inherit;
        }

        .ql-editor {
            padding-top: 1rem;
        }

        .ql-editor.ql-blank::before {
            font-style: normal;
            padding-top: 4px;
        }
    }
}


.formatted-text-area {
    text-align: left;
    word-wrap: break-word;

    ul {
        margin-left: 1.6rem;
        padding-left: 1.125rem;
    }

    ol {
        margin-left: 1.6rem;
        padding-left: 1.125rem;
    }

    strong {
        font-weight: $fw-semibold;
    }
}

.radio {
    display: flex;

    input[type="radio"]:first-child {
        margin-right: 0.75rem;
    }

    label {
        cursor: pointer;
    }

    +.radio {
        margin-top: 0.5rem;
    }
}

.checkbox {
    display: flex;

    input[type="checkbox"]:first-child {
        margin-right: 0.75rem;
    }

    label {
        cursor: pointer;
    }

    +.checkbox {
        margin-top: 0.5rem;
    }
}