@use "colours";

$text-field-padding: 8px 12px;

$button-padding: 10px 22px;

$button-transition: background-color .1s cubic-bezier(0.02, 1, 1, 1);

input {
    &[type="text"] {
        padding: $text-field-padding;
    }

    &[type="email"] {
        padding: $text-field-padding;
    }

    &[type="password"] {
        padding: $text-field-padding;
    }

    &[type="date"] {
        padding: 5px 10px;

        &:focus {
            background-color: colours.$active-light-blue;
        }
    }

    &[type="submit"] {
        cursor: pointer;
        border: none;
        padding: $button-padding;
        color: white;
        background-color: #0078d4;

        &:hover {
            color: white;
            background-color: #0067b5;
        }

        &:active {
            color: white;
            background-color: #004e8a;
        }

        transition: $button-transition;
    }

    &[type="reset"] {
        cursor: pointer;
        border: none;
        padding: $button-padding;
        color: white;
        background-color: #838383;

        &:hover {
            columns: white;
            background-color: #616161;
        }

        &:active {
            columns: white;
            background-color: #4d4d4d;
        }

        transition: $button-transition;
    }

    &[type="button"] {
        padding: $button-padding;
    }
}

.checkbox {
    margin-bottom: 5px;
    padding: 5px 10px;

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        vertical-align: bottom;
        cursor: pointer;
    }

    label {
        padding-left: 5px;
        user-select: none;
        cursor: pointer;
    }

}

select {
    padding: 8px 10px;
    font-size: 14px;
}

textarea {
    padding: 20px;
    width: auto;
    height: auto;
    resize: vertical;
}