@use 'variables' as *;
@use 'mixins';

$text-field-padding: 0.45rem 0.75rem;
$date-field-padding: 0.45rem 0.75rem;
$select-field-padding: 0.45rem 0.75rem;

%checkbox-dimensions {
    width: 20px;
    height: 20px;
}

%text-field-border {
    border: 2px solid #a7a9ad;
    border-radius: 4px;

    &:active,
    &:focus,
    &:hover,
    &:focus-within {
        border: 2px solid #2f80ea;
    }
}

%text-field-outline {
    outline: none;

    &:active,
    &:focus,
    &:hover,
    &:focus-within {
        outline: none;
    }
}

%text-field-styles {
    padding: $text-field-padding;
    @extend %text-field-border;
    @extend %text-field-outline;
}

label {
    display: inline-block;
}

input {
    font-family: inherit;
    font-size: $input-element-font-size;

    &[type="text"],
    &[type="email"],
    &[type="password"],
    &[type="url"],
    &[type="number"] {
        @extend %text-field-styles;
    }

    &[type="date"] {
        cursor: pointer;
        @extend %text-field-styles;
        padding: $date-field-padding;
    }

    &[type="time"] {
        cursor: pointer;
        @extend %text-field-styles;
    }

    &[type="radio"] {
        outline: none;
        width: 18px;
        cursor: pointer;
    }

    &[type="checkbox"] {
        @extend %checkbox-dimensions;
        cursor: pointer;

        +label {
            cursor: pointer;
        }
    }

    &[type="file"] {
        display: none;
    }
}

button {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
    border: none;
    outline: none;
}

select {
    @extend %text-field-styles;
    padding: $select-field-padding;
    font-size: $input-element-font-size;
    cursor: pointer;
}

.text-editor-container {
    @extend %text-field-outline;
    @extend %text-field-border;

    .ql-toolbar {
        padding: 0.25rem 1rem;
        border-left: none;
        border-right: none;
        border-top: none;
    }

    .ql-formats {
        :hover {
            background-color: #f2f2f2;
        }

        button {
            width: auto;
            height: auto;
            padding: .7rem;
            border-radius: $rounded-1;
        }

        svg {
            height: 18px;
            width: 18px;
        }
    }

    .text-editor {
        font-size: $input-element-font-size;
        font-family: inherit;
        border: none;
        overflow-wrap: break-word;
        word-break: break-word;

        >* {
            line-height: inherit;
        }

        .ql-editor.ql-blank::before {
            font-style: normal;
            padding-top: 4px;
        }
    }
}


.formatted-text-area {
    text-align: left;
    word-wrap: break-word;

    ul {
        margin-left: 1.6rem;
        padding-left: 1.125rem;
    }

    ol {
        margin-left: 1.6rem;
        padding-left: 1.125rem;
    }

    strong {
        font-weight: $fw-semibold;
    }
}