@use "box-shadows";
@use "border";
@use "colors";

.list-view {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 25px;
    max-width: 1200px;
    min-width: 1000px;

    .side-view {
        background-color: gainsboro;
        padding: 25px;
        border-radius: border.$br-5px;

        >.title {
            font-size: 20px;
        }

        >.category {
            margin: 20px 10px 20px 10px;

            >.title {
                font-weight: bold;
            }

            >.content {
                padding-left: 5px;
                padding-top: 10px;
            }
        }
    }

    .row {
        display: grid;
        grid-template-columns: auto min-content;
        align-items: baseline;
        box-shadow: box-shadows.$bs-style-1;
        border-radius: border.$br-5px;
        padding: 10px 15px 10px 25px;

        margin-bottom: 15px;

        a {
            color: black;
        }

        &:hover {
            background-color: colors.$list-item-hover;
        }

        &:active {
            background-color: colors.$list-item-active;
        }
    }
}