.pt {
    &-100 {
        padding-top: 100px;
    }
    &-50 {
        padding-top: 50px;
    }
    &-30 {
        padding-top: 30px;
    }
    &-25 {
        padding-top: 25px;
    }
    &-20 {
        padding-top: 20px;
    }
}

.px {
    &-80 {
        padding-left: 80px;
        padding-right: 80px;
    }
}