.pt {
    &-100 {
        padding-top: 100px;
    }
    &-50 {
        padding-top: 50px;
    }
    &-30 {
        padding-top: 30px;
    }
    &-25 {
        padding-top: 25px;
    }
    &-20 {
        padding-top: 20px;
    }
}

.px {
    &-80 {
        padding-left: 80px;
        padding-right: 80px;
    }

    &-10 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.py {
    &-30 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.p {
    &-30 {
        padding: 30px;
    }
    &-20 {
        padding: 20px;
    }
    &-10 {
        padding: 10px;
    }
}