.max-w {
    &-300 {
        max-width: 300px;
    }
}

.min-w {
    &-300 {
        min-width: 300px;
    }
}

.w {
    &-300 {
        width: 300px;
    }
}

.h {
    &-100 {
        height: 100px;
    }
}