/* Skeleton CSS */
.skeleton {
    padding: 10px;
    border: 1px solid #ccc;
}

.skeleton-header {
    height: 20px;
    background-color: #eee;
    margin-bottom: 10px;
}

.skeleton-body .skeleton-line {
    height: 10px;
    background-color: #eee;
    margin-bottom: 10px;
}

.skeleton-line.wide {
    width: 80%;
}

/* Shimmer effect */
@keyframes shimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

.skeleton-line,
.skeleton-header {
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    position: relative;
}

/* Skeleton html */

// <div class="skeleton">
//     <div class="skeleton-header"></div>
//     <div class="skeleton-body">
//         <div class="skeleton-line"></div>
//         <div class="skeleton-line"></div>
//         <div class="skeleton-line wide"></div>
//     </div>
// </div>