// Margin
.m {
    &-auto {
        margin: auto;
    }

    &t {
        @for $i from 1 through 10 {
            &-#{$i * 5} {
                margin-top: #{$i * 5}px;
            }
        }

        &-auto {
            margin-top: auto;
        }
    }

    &b {
        @for $i from 1 through 10 {
            &-#{$i * 5} {
                margin-bottom: #{$i * 5}px;
            }
        }

        &-auto {
            margin-bottom: auto;
        }
    }

    &x {
        @for $i from 1 through 10 {
            &-#{$i * 5} {
                margin-left: #{$i * 5}px;
                margin-right: #{$i * 5}px;
            }
        }

        &-auto {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &y {
        @for $i from 1 through 10 {
            &-#{$i * 5} {
                margin-top: #{$i * 5}px;
                margin-bottom: #{$i * 5}px;
            }
        }

        &-auto {
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}

// Padding
.p {
    @for $i from 1 through 20 {
        &-#{$i * 5} {
            padding: #{$i * 5}px;
        }
    }

    &t {
        @for $i from 1 through 10 {
            &-#{$i * 5} {
                padding-top: #{$i * 5}px;
            }
        }
    }

    &b {
        @for $i from 1 through 10 {
            &-#{$i * 5} {
                padding-bottom: #{$i * 5}px;
            }
        }
    }

    &s {
        @for $i from 1 through 10 {
            &-#{$i * 5} {
                padding-left: #{$i * 5}px;
            }
        }
    }

    &e {
        @for $i from 1 through 10 {
            &-#{$i * 5} {
                padding-right: #{$i * 5}px;
            }
        }
    }

    &x {
        @for $i from 1 through 20 {
            &-#{$i * 5} {
                padding-left: #{$i * 5}px;
                padding-right: #{$i * 5}px;
            }
        }
    }

    &y {
        @for $i from 1 through 10 {
            &-#{$i * 5} {
                padding-top: #{$i * 5}px;
                padding-bottom: #{$i * 5}px;
            }
        }
    }
}