$title-padding: 20px;

.text-title {
    font-size: 45px;
    padding: $title-padding;
}

.text-subtitle {
    font-size: 35px;
    padding: $title-padding;
}

.text-center {
    text-align: center;
}