@forward 'utilities/spacing';
@forward 'utilities/sizing';
@forward 'utilities/text';
@forward 'utilities/shadows';
@forward 'utilities/grid';
@forward 'utilities/alerts';
@forward 'utilities/borders';
@forward 'utilities/flexbox-grid-positioning';
@forward 'utilities/buttons';
@forward 'utilities/display';
@forward 'utilities/tables';
@forward 'utilities/bg-color';
@forward 'utilities/command-bar';
@forward 'utilities/submission-viewer';
@forward 'utilities/card';
@forward 'utilities/choicesjs';
@forward 'utilities/dialog';
@forward 'utilities/overflow';

.divider {
    border-bottom-color: rgb(214, 214, 214);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-top: 1.25rem;
    margin-bottom: 1.875rem;
    width: 102%;
    position: relative;
    left: -1%;
}