@forward "var/borders";
@forward "var/text";
@forward "var/shadows";
@forward "var/sizing";

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$btn-padding: 9px 24px;
$btn-font-size: 0.9375rem;
$btn-font-weight: 500;
$btn-line-height: 1.15;
$btn-color: #ffffff;
$btn-bg: #006fc9;
$btn-border-color: #006fc9;
$btn-border: 1px solid;
$btn-border-radius: 3px;
$btn-box-shadow: none;
$btn-transition: background-color .1s cubic-bezier(0.02, 1, 1, 1);

$btn-hover-color: #ffffff;
$btn-hover-bg: #0064b5;
$btn-hover-border-color: #0064b5;
$btn-active-color: #ffffff;
$btn-active-bg: #005499;
$btn-active-border-color: #005499;
$btn-focus-box-shadow: none;
$btn-disabled-color: #ffffff;
$btn-disabled-bg: #e8e8e8;
$btn-disabled-border-color: #e8e8e8;

$btn-secondary: #323130;
$btn-secondary-bg: #ffffff;
$btn-secondary-hover-bg: #e8e8e8;
$btn-secondary-active-bg: #dedede;
$btn-secondary-border-color: #8a8886;


$text-field-font-size: 0.9375rem;
$text-field-padding: 7px 12px;

$date-field-padding: 5px 12px;
$select-field-padding: 6px 12px;

$table-font-size: 0.95rem;
$table-header-color: #0000009c;
$table-header-font-size: 0.9rem;
$table-row-hover-bg: #f2f2f2;

// // office.com
// $btn-transition-duration: 100ms;
// $btn-transition-property: background, border, color;
// $btn-transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);

// // github
// $btn-github-transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
// $btn-github-transition-property: color, background-color, box-shadow, border-color;


// Colors
$alert-error: red;

$active-light-blue: #deecf9;
$hov-light-blue: #eff5fb;

$link-color: #0067b8;

$text-color: #161616;
$text-subtitle-color: #4a4a4a;

$grey-100: #f7f7f7;