@forward "var/borders";
@forward "var/colors" as colors-*;
@forward "var/text";
@forward "var/shadows";
@forward "var/input";
@forward "var/gradients";
@forward "var/sizing";

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);