$webpage-max-allowed-width: 1920px;
$authentication-page-max-width: 1200px;

$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$spacers: (
    '0': 0,
    '1': 0.25rem,
    // 4px
    '2': 0.5rem,
    // 8px
    '3': 0.75rem,
    // 12px
    '4': 1rem,
    // 16px
    '5': 1.25rem,
    // 20px
    '6': 1.5rem,
    // 24px
    '7': 1.75rem,
    // 28px
    '8': 2rem,
    // 32px
    '9': 2.5rem,
    // 40px
    '10': 3rem,
    // 48px
);

// #region Text

$fs-1: 2.5rem;
$fs-2: 2rem;
$fs-3: 1.75rem;
$fs-4: 1.5rem;
$fs-5: 1.25rem;
$fs-6: 1.125rem;

$fs-small: 0.875rem;

$fw-semibold: 600;
$fw-medium: 600;
$fw-normal: 400;
$fw-light: 300;

// #endregion 

$input-element-font-size: 0.9375rem;

// #region Shadows

$shadow-1: rgba(0, 0, 0, 0.14) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$shadow-2: 0 2px 6px rgba(0, 0, 0, .2);
$shadow-3: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$shadow-4: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$shadow-5: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

$popup-dialog-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

// #endregion

// #region Borders

$rounded-0: 0;
$rounded-1: 5px;
$rounded-2: 10px;

$border-0: none;
$border-1: 1px solid #d4d2d0;
$border-2: 1px solid #4f4f4f;

// #endregion


// // office.com
// $btn-transition-duration: 100ms;
// $btn-transition-property: background, border, color;
// $btn-transition-timing-function: cubic-bezier(0.33, 0, 0.67, 1);

// // github
// $btn-github-transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
// $btn-github-transition-property: color, background-color, box-shadow, border-color;


// Colors
$alert-error: red;
$alert-info: #0078d4;

$active-light-blue: #deecf9;
$hov-light-blue: #eff5fb;

// $link-color: #0067b8;
$link-color: rgb(0, 120, 212);

$text-color: #161616;
$text-subtitle-color: #4a4a4a;

$grey-100: #f7f7f7;