@use 'form';
@use 'input';
@use 'variables' as *;
@use 'utilities';
@use 'layouts';
@use 'fonts';
@use 'navbar';
@use 'pages';

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::before,
::after {
    box-sizing: inherit;
    line-height: 1;
}

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    color: $text-color;
    line-height: 1.4;
}

a {
    color: black;
    text-decoration: none;
}

.link {
    color: $link-color;

    &:hover {
        text-decoration: underline;
    }
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    width: 100%;

    >.content {
        padding-bottom: 50px;
        width: 100%;
    }
}

.footer {
    &-bg {
        background-color: #f2f2f2;
    }

    min-height: 60px;
    color: #616161;

    >* {
        padding: 20px 10px 20px 10px;
    }
}