<div class="header">
    <nav class="navbar">
        <button class="navbar-toggler hidden" type="button" title="Open menu">
            <i class="i i-list"></i>
            <i class="i i-x-lg hidden"></i>
        </button>
        <ul class="navbar-brand">
            <li>
                <a href="/">PDC</a>
            </li>
        </ul>
        <ul class="navbar-menu">
            <div class="navbar-start">
                <li {% if main_section=="techtalks" %} class="underline" {% endif %}>
                    <a href="/techtalks">TechTalks</a>
                </li>
                <li {% if main_section=="internship-program" %} class="underline" {% endif %}>
                    <a href="/internship-program">Internship Program</a>
                </li>
                <li {% if main_section=="events" %} class="underline" {% endif %}>
                    <a href="/events">Events</a>
                </li>
            </div>
            <div class="navbar-end">
                <li>
                    <a href="">Your Profile</a>
                </li>
                <li>
                    <a href="/logout">Sign out</a>
                </li>
            </div>
        </ul>
    </nav>
</div>