<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="wrapper">
        <div>
            {% block header %}{% endblock %}
        </div>
        <div class="content px-80">
            {% block content %}{% endblock %}
            {% block js %}{% endblock js %}
        </div>
        <div class="footer px-80">
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        </div>
    </div>
</body>

</html>